body { background:gray; }
div {           /* Marco del mensaje */
    position: absolute; top:0px;                bottom:0px;    
    display:table;      background:#252328;     width:30%;
    color:#FFF;         left:35%;                 
    margin:auto;        border-radius:6px 6px 1px 1px; 
    padding:0px 30px;   box-shadow:0px 2px 12px 4px #000;
}
div::before {   /* Titulo rojo */
    position:relative;  display:inline-block;   content:'Error 404';
    height:25px;        padding:5px 0px 0px 5px; /* text-align:center; */
    left:-30px;         background:#EA504E;     width:calc(100% + 55px);                
    box-shadow: 0 5px 5px -5px rgba(255,255,255, .9) inset;
    border-radius:6px 6px 0px 0px;                
    font-weight:bold;
}
div > p { text-align:center; }
 