/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ago-2015, 19:45:56
    Author     : devildrey33
*/

/* Log.php */
/*
#Log_Contenedor {
    width : 100%;
}

.Log {
    border : 1px solid transparent;
}

.Log:hover {
    border           : 1px dashed #EEE;
    background-color : #DDD;
}

.Log_Tabla {
    display      : table;
    width        : 100%;
    table-layout : fixed;
}

.Log_TdIP {
    display       : table-cell;
    width         : 135px;
    color         : rgb(70, 70, 70);
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;		
}

.Log_TdTotalEntradas {
    display:table-cell; 
    width:50px;
    color:rgb(70, 70, 70);
}

.Log_TdURL {
    display:table-cell; 
    min-width:660px;
    max-width:660px; 
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;		
}

/*	.Log_TdURL span {
    white-space:nowrap;
}*/
/*
.Log_TdPlataforma {
    display:table-cell; 
    width:160px;
    text-align:right;
}

.Log_TdTiempo {
    display:table-cell; 
    width:150px; 
    direction:rtl;
    color:rgb(70, 70, 70);
}
*/
/*.Log_Entradas {
    display:none; 
    padding-top:4px;
}*/

.Log_Entrada_Ataque 		{	color:red;		}
.Log_Entrada_Advertencia 	{	color:orange;	}
.Log_Entrada_Error 		{	color:purple;	}
.Log_Entrada_Zip 		{	color:olive;	}
.Log_Entrada_Documento 		{	color:green;	}
.Log_Entrada_CSS 		{	color:blue;		}
.Log_Entrada_JS 		{	color:brown;	}
.Log_Entrada_Imagen 		{	color:gray;		}
.Log_Entrada_Otros 		{	color:black;	}

/*.Log_Cerrar {
    position:relative;
    display:table;
    width:16px;
    height:16px;
    padding-top:1px;
    padding-left:6px;
    padding-right:0px;
    overflow:hidden;
    float:right;
    border-radius:2px;
    color:#FFF;
    background-color:rgb(150, 0, 0);
    margin:5px;
    box-shadow:2px 2px 1px #BBB;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    transition:0.4s;
}

.Log_Entradas > h1 {
    margin:0px;
}

.Log_Cerrar:hover {
    background-color:#ea504e;
}
*/










/* Editar-Entradas.php */
#devildrey33_Entradas {
    width:100%;
    table-layout:fixed;
    border-spacing:0px;
    border-collapse:separate;
}

#devildrey33_Entradas td {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;		
    padding-right:5px;
}

#devildrey33_Entradas thead {
    background:#252328;
    color:#FFF;
}

#devildrey33_Entradas > tbody > tr {
    transition:0.2s;
}

#devildrey33_Entradas > tbody > tr:hover {
    background:rgb(234, 80, 78);
    cursor:pointer;
    color:#FFF;
    border:1px solid red;
}

#devildrey33_Entradas > tbody > tr > td {
    border:1px solid transparent;

}

#devildrey33_Entradas > tbody > tr:hover > td, #devildrey33_Entradas > tbody > tr[seleccionado=true] > td {
    border-top:1px solid red;
    border-bottom:1px solid red;
}

#devildrey33_Entradas > tbody > tr:hover > td:first-child, #devildrey33_Entradas > tbody > tr[seleccionado=true] > td:first-child {
    border-left:1px solid red;
}

#devildrey33_Entradas > tbody > tr:hover > td:last-child, #devildrey33_Entradas > tbody > tr[seleccionado=true] > td:last-child {
    border-right:1px solid red;
}

#devildrey33_Entradas > tbody > tr:active {
    background:#BA504E;
}


/* Titulo */
#devildrey33_Entradas td:nth-child(1) { width:95px; }
/* Tipo */
#devildrey33_Entradas td:nth-child(6) { width:60px; }


#Editor_BarraNavegacionInferior {
    position:fixed;
    bottom:0px;
    right:0px;
}

#Editor_BotonAgregar {
    border-bottom:none !important;
}

#Editor_BotonAgregar::before, #Editor_BotonAgregar::after {
    content:'';
    position:absolute;
}

#Editor_BotonAgregar::before {
    background:#FFF;
    width:28px;
    height:2px;
    right:14.5px;
    top:28px;
}

#Editor_BotonAgregar::after {
    background:#FFF;
    width:2px;
    height:28px;
    right:28px;
    top:14.5px;
}






#Editor_Blog {
    left:calc(50% - 250px);
    top:calc(50% - 170px);
    position:fixed;
    width:500px;
    height:200px;
    display:none;
    border:1px solid #252328;
    background:#252328;
    box-shadow:2px 2px 2px rgba(50,50,50,0.7);
    color:#FFF;
    padding:10px;
}

#Editor_Blog > table {
    margin-bottom:10px;
}

#Editor_Blog[Mostrar=true] {
    display:table;
}

#Editor_Blog > div {
    margin:4px auto;
    display:table;
}

#Editor_Blog > div > button {
    display:inline-block !important;
    margin:2px;
}

#Editor_Blog > table input[type=text], #Editor_Blog > table input[type=date], #Editor_Blog > table input[type=url] {
    width:430px;
}
/* lista de tags */
#Editor_Blog > ul {
    margin:4px 2px; 
    padding:0px;
    list-style: none;
}

#Editor_Blog > ul > li {
    margin-left:1%;
    width:30%;
    display:inline-block;
}









/* Log2.php */
.EntradaLog {   /* Contenedor con todos los datos de una IP */
    /* width: calc(100% - 1px); */
    position:relative;
    display:table;
/*    border-left:1px solid transparent; */
    transition:0.4s;
    overflow:hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.EntradaLog[abierto=true] {   /* Contenedor con todos los datos de una IP */
    /* border-left:1px solid #000; */
    /* border-top:1px solid #000; */
    border: 1px solid #000;
    background-color:#CCC;
}

.EntradaLog:hover {   /* Contenedor con todos los datos de una IP */
    background-color:rgb(222, 222, 222);
}


.EntradaLog_Fila {
    display:table-row;
    width:100%;
    height:20px;
    cursor:pointer;
    transition:0.4s;
}

.EntradaLog_Fila:hover {   /* Contenedor con todos los datos de una IP */
    background-color:rgb(210, 210, 210);
}

.EntradaLog_TablaFila {
    display:table;
    table-layout:fixed;
    width: 100%;
    white-space:nowrap;      /* Impide los saltos de línea automáticos */
}

.EntradaLog_TablaFila[ataque=true] {
    background-color:rgba(255,0,0, 0.1);
}

.EntradaLog_TablaFila[ataque=admin] {
    background-color:rgba(0,255,0, 0.1);
}

.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip,  
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Url, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Peticiones, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoInicio, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoFin, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb {
    display:table-cell;
    overflow:hidden;
    height:20px;
    padding:0px 4px 0px 4px;
    border-left: 1px solid #666;
    color: #444;
}

.Log_Lista > .EntradaLog:nth-last-child {
    border-bottom:1px solid #666;
}

.EntradaLog_Url {  overflow:hidden; text-overflow:ellipsis; }
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip               { width : 120px; text-align:left; transition:0.4s; }
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip { color:transparent; }
.EntradaLog_Ip              { width : 120px; text-align:left; }
.EntradaLog_Peticiones      {width: 32px;text-align:right;}
.EntradaLog_TiempoInicio    { width : 75px; text-align:center;  }
.EntradaLog_TiempoFin       { width : 75px; text-align:center; }
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb  { width : 140px; text-align:right; border-right:1px solid #666; }
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb  { border-right:1px dashed #999; }

.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Url, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Peticiones, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoInicio, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoFin, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb {
/*    border-left:1px solid transparent;*/
    border-left:1px dashed #999
}

.EntradaLog_Datos {
    /* position:relative; */
    width:100%;
    display: table-row;
}

#Log_Opciones {
    padding:0px;
    /* min-height: 60px; */
    position: fixed;
    border: 1px solid #444;
    border-top: 0px solid transparent;
    display: flex;
    /* background-color: #EEE; */
    /* align-items: center; */
    justify-content: space-around;
    z-index: 1000;
    width: calc(100% - 160px);
    left:auto;
    right:auto;
    top:0px;
    background-color: #DDD;
    box-shadow: 3px 3px 3px rgba(90, 90, 90, 0.5);
}

/*#OpcionesLog > div > label {
    display:block;
    width:100%;
    text-align:center;
}*/

#Log_Stats {
    margin-top: 100px;
    margin-bottom: 30px;
    display:flex;
    flex-flow: row wrap;
    align-content: stretch;
    /* justify-content: center; */
}

#Log_Stats h2 {
    margin:10px 0px 0px 0px;
}

.Log_Lista {
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    display:none;
}

.Log_Stat {
    margin: 10px 10px 0px 0px;
}

.Log_StatsTabla {
    table-layout: fixed;
    /*    width:100%; */
    max-width: 45%;
    position: relative;
}

.Log_StatsTabla td {
    padding:0px 20px 0px 0px;
    text-overflow: ellipsis;
    overflow:hidden;
    width:20%;
    white-space:nowrap;
}
/*
.Log_StatsTabla td > span {
    width:0px;
    transition:0.4s;
}*/

.Log_StatsMarco {
    border:1px solid #666;
    display:table;
    background-color: #FFF;
}

.Log_StatBarra {
    display:inline-table;
    background-color:blue;
    color:white;
    /* box-shadow: 2px 2px 2px rgba(90, 90, 90, 0.7); */
    padding-left: 5px;
}

#Log_Opciones > div > select {
    font-size:1.7rem;
    height: 24px;
    margin: 0px 20px;
}

#Log_Opciones > div > label, #Log_Opciones > div > label > span {
    white-space:nowrap;
}

#Log_Contenedor_Navegadores {
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    /* right:10px; */
    /* top:15px; */
    border-left:1px solid #000;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#Log_Contenedor_Tipo {
    display: flex;
    flex-direction:row;
    position: relative;
    /* left:220px; */
    /* top:15px; */
    border-left:1px solid #000;
    /* border-right: 1px solid #000; */
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
/*
#Log_Contenedor_Buscar {
    display: flex;
    flex-direction:row;
    position: relative;
    border-left:1px solid #000;
    border-right: 1px solid #000;
    align-items: center;
    justify-content:center;
}
#Log_Contenedor_Buscar > * {
    margin:0px 10px;
}

#Log_Contenedor_Buscar > input {
    
}*/

#Log_Contenedor_Archivos {
    position: relative;
    /* left:10px; */
    /* top:15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #EEE; */
    /* border-left: 1px solid #000; */
}

#Log_Contenedor_Navegadores > label, #Log_Contenedor_Tipo > label {
    margin:5px;
}

#Log_Datos {
    display:none;
}

.Log_Titulo1 {
    margin:10px 0px 0px 20px;
    display: block;
}
.Log_TituloTabla {
    /* min-width: 300%; */
    position: relative;
    margin-left:20px;
    display: inline-block;
}

/*.Log_TituloTabla td:nth-child(1) {
    width:140px;
}*/

.Log_UserAgent {
    margin: 0px;
    position:relative;
/*    top: 105px; */
}

.Log_TablaEntrada {
    margin-left:20px;
    position:relative;
    max-width: calc(100% - 40px);
    display: table;
    table-layout:fixed;
    background:rgba(255, 255, 255, 0.2);
    transition:0.4s;
    margin-bottom: 20px;
    white-space:nowrap;      /* Impide los saltos de línea automáticos */
}

.Log_TablaEntradaFila:hover {
    background-color:#CCC;
}

.Log_TablaEntradaFila > div {
    padding-left:5px;
}

.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(1) { width: 70px;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(2) { width: 40px;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(3) {overflow:hidden;text-overflow:ellipsis;min-width: 250px;} 
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(4) {max-width: 140px;text-align:right;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(5) { width:40px;  text-align:right;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(6) { width:70px;  text-align:right; color:gray; }
/*.Log_TablaEntrada:nth-child-last > .Log_TablaEntradaFila > div:nth-child(6) { width:70px;  text-align:right; color:white; } */
/*
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-last-child {
    color:darkgray;
}*/

.Log_TablaEntradaFila {
    display:table-row;
}

.Log_TablaEntradaFila > div {
    display:table-cell;
    padding-right:10px;
}

/*
.Log_TablaTitulo {
    display:table;
    width: 100%;
}

.Log_Titulo2 {width:125px;display: inline-block;position: relative;}
.Log_Titulo2::after { content:':'; position:absolute; right:0px; }


.Log_Titulo3 {width:225px;display: inline-block;position: relative;}
*/

#Log_Cargando {
    position:fixed;
    width:370px;
    height:70px;
    background:rgba(20, 20, 20, 0.9);
    border:1px solid #000;
    display:none;
    z-index:1000;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    box-shadow: 3px 3px 3px rgba(90, 90, 90, 0.7);
}

#Log_Cargando[visible=true] {
    display:table;
}

#Log_Cargando li {
    font-size:1.7rem;
    color:#999;
}

#Log_Cargando > div {
    color:#DDD;
    text-align:center;
    margin:10px;
}

.Log_ListaBotones input {
    display:none;
}

.Log_ListaBotones input + label {
    display:inline-block;
    margin:0px 10px 10px 0px;
    padding:10px;
    background:#555;
    color:#FFF;
    cursor:pointer;
}

.Log_ListaBotones input:checked + label {
    background:#111;
}