

/* tabla de dos columnas para contener descrición y un control check */
.MarcoOpciones2C {
    border-spacing: 2px;
    border-collapse: separate;
}

.MarcoOpciones2C tr > td:nth-child(1) {
    min-width:135px;
    position:relative;
}

/* marco para separar las secciones */
.MarcoOpcionesBorde, .MarcoOpcionesBorde_Botones {
    border:1px solid #343;
    border-radius:3px;
    margin:20px 5px 5px 5px;
    padding:0px 5px;
    position:relative;
    /* align-content: center; */
}

.MarcoOpcionesBorde_Botones {
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* align-items: center; */
    /* align-content: center; */
}
.MarcoOpcionesBorde_Botones > button {
    flex:1 1 100px;
}

.MarcoOpcionesBorde::before, .MarcoOpcionesBorde_Botones::before {
    content:attr(titulo);
    position:absolute;
    top:-21px;
    left:0px;
    display:table;
    font-size:1.2rem;
    color:#cccccc;
}