/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-ago-2017, 2:36:13
    Author     : devildrey33
*/


.Log_Entrada_Ataque 		                        { color:red       !important; }
.Log_Entrada_Advertencia,  .Log_Cliente_Desconocido	{ color:rgb(230, 74, 25)  !important; }
.Log_Entrada_Error                                      { color:purple    !important; }
.Log_Entrada_Zip                                        { color:olive     !important; }
.Log_Entrada_Cmd                                        { color:rgb(0, 188, 212)     !important; }
.Log_Entrada_Documento                                 	{ color:darkgreen !important; }
.Log_Entrada_CSS                                        { color:blue      !important; }
.Log_Entrada_JS                                         { color:brown     !important; }
.Log_Entrada_Imagen,      .Log_Cliente_Bot 		{ color:gray      !important; }
.Log_Entrada_Otros                                      { color:black     !important; }
.Log_Cliente_Navegador                                  { color:green     !important; }



/* Log2.php */
.EntradaLog {   /* Contenedor con todos los datos de una IP */
    /* width: calc(100% - 1px); */
    position:relative;
    display:table;
/*    border-left:1px solid transparent; */
    transition:0.4s;
    overflow:hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.EntradaLog[abierto=true] {   /* Contenedor con todos los datos de una IP */
    /* border-left:1px solid #000; */
    /* border-top:1px solid #000; */
    border: 1px solid #000;
    background-color:#CCC;
}

.EntradaLog:hover {   /* Contenedor con todos los datos de una IP */
    background-color:rgb(222, 222, 222);
}


.EntradaLog_Fila {
    display:table-row;
    width:100%;
    height:20px;
    cursor:pointer;
    transition:0.4s;
}

.EntradaLog_Fila:hover {   /* Contenedor con todos los datos de una IP */
    background-color:rgb(210, 210, 210);
}

.EntradaLog_TablaFila {
    display:table;
    table-layout:fixed;
    width: 100%;
    white-space:nowrap;      /* Impide los saltos de línea automáticos */
}

.EntradaLog_TablaFila[ataque=true] {
    background-color:rgba(255,0,0, 0.1);
}

.EntradaLog_TablaFila[ataque=admin] {
    background-color:rgba(0,255,0, 0.1);
}

.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip,  
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Url, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Peticiones, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoInicio, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoFin, 
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb {
    display:table-cell;
    overflow:hidden;
    height:20px;
    padding:0px 4px 0px 4px;
    border-left: 1px solid #666;
    color: #444;
}

.Log_Lista > .EntradaLog:nth-last-child {
    border-bottom:1px solid #666;
}

.EntradaLog_Url {  overflow:hidden; text-overflow:ellipsis; }
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip               { width : 120px; text-align:left; transition:0.4s; }
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip { color:transparent; }
.EntradaLog_Ip              { width : 120px; text-align:left; }
.EntradaLog_Peticiones      {width: 32px;text-align:right;}
.EntradaLog_TiempoInicio    { width : 75px; text-align:center;  }
.EntradaLog_TiempoFin       { width : 75px; text-align:center; }
.EntradaLog > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb  { width : 140px; text-align:right; border-right:1px solid #666; }
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb  { border-right:1px dashed #999; }

.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Ip, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Url, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_Peticiones, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoInicio, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_TiempoFin, 
.EntradaLog[abierto=true] > .EntradaLog_TablaFila > .EntradaLog_Fila > .EntradaLog_InfoClienteWeb {
/*    border-left:1px solid transparent;*/
    border-left:1px dashed #999
}

.EntradaLog_Datos {
    /* position:relative; */
    width:100%;
    display: table-row;
}

#Log_Opciones {
    padding:0px;
    /* min-height: 60px; */
    position: fixed;
    border: 1px solid #444;
    border-top: 0px solid transparent;
    display: flex;
    /* background-color: #EEE; */
    /* align-items: center; */
    justify-content: space-around;
    z-index: 1000;
    width: calc(100% - 160px);
    left:auto;
    right:auto;
    top:0px;
    background-color: #DDD;
    box-shadow: 3px 3px 3px rgba(90, 90, 90, 0.5);
}

/*#OpcionesLog > div > label {
    display:block;
    width:100%;
    text-align:center;
}*/

#Log_Stats {
    margin-top: 100px;
    margin-bottom: 30px;
    display:flex;
    flex-flow: row wrap;
    align-content: stretch;
    /* justify-content: center; */
}

#Log_Stats h2 {
    margin:10px 0px 0px 0px;
}

.Log_Lista {
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    display:none;
}

.Log_Stat {
    /* margin: 10px 10px 0px 0px; */
    flex: 1 1 calc(50% - 5px);
    /* max-width: 49%; */
    height: 313px;
    position: relative;
}

.Log_StatsTabla {
    table-layout: fixed;
    width: 100%;
    /* max-width: 45%; */
    position: relative;    
    /* height: 275px; */
}

.Log_StatsTabla tr > td:nth-child(1) { text-shadow:1px 1px 1px #777; }
.Log_StatsTabla tr > td:nth-child(2) { text-shadow:1px 1px 1px #000; }
.Log_StatsTabla tr:hover { background-color:#EEE; }


.Log_StatsTabla tr > td {
    padding:0px 20px 0px 0px;
    text-overflow: ellipsis;
    overflow:hidden;
    /* width: 300px; */
    white-space:nowrap;
    position: relative;
}

.Log_StatsTabla tr > td:nth-child(2) {
    width:300px;
}
/*
.Log_StatsTabla td > span {
    width:0px;
    transition:0.4s;
}*/

.Log_StatsMarco {
    border:1px solid #666;
    /* display: inline-table; */
    background-color: #DDD;
    /* width: 45%; */
    transition: 0.4s;
    z-index:100;
    position:relative;
    height: 272px;
    overflow: hidden;
}

.Log_Stat:nth-child(odd) {
    margin-right:10px;
}

.Log_StatsMarco:hover {
    background-color: #FFF;
    z-index:101;    
    height: 542px;
    box-shadow:3px 3px 3px rgba(90, 90, 90, 0.5);
}
/*
.Log_StatsMarco tr:nth-child(1n+11) {
    display:none;
}

.Log_StatsMarco:hover tr:nth-child(1n+11) {
    display:table-row;
}*/

.Log_StatBarra {
    display:inline-table;
    background-color:blue;
    color:white;
    /* box-shadow: 2px 2px 2px rgba(90, 90, 90, 0.7); */
    padding-left: 5px;
    /* margin-top: 2px; */
    width:0px;
    /* text-shadow: 1px 1px 1px #000; */
}

#Log_Opciones > div > select {
    font-size:1.7rem;
    height: 24px;
    margin: 0px 20px;
}

#Log_Opciones > div > label, #Log_Opciones > div > label > span {
    white-space:nowrap;
}

#Log_Contenedor_Navegadores {
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    /* right:10px; */
    /* top:15px; */
    border-left:1px solid #000;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#Log_Contenedor_Tipo {
    display: flex;
    flex-direction:row;
    position: relative;
    /* left:220px; */
    /* top:15px; */
    border-left:1px solid #000;
    /* border-right: 1px solid #000; */
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
/*
#Log_Contenedor_Buscar {
    display: flex;
    flex-direction:row;
    position: relative;
    border-left:1px solid #000;
    border-right: 1px solid #000;
    align-items: center;
    justify-content:center;
}
#Log_Contenedor_Buscar > * {
    margin:0px 10px;
}

#Log_Contenedor_Buscar > input {
    
}*/

#Log_Contenedor_Archivos {
    position: relative;
    /* left:10px; */
    /* top:15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #EEE; */
    /* border-left: 1px solid #000; */
}

#Log_Contenedor_Navegadores > label, #Log_Contenedor_Tipo > label {
    margin:5px;
}

#Log_Datos {
    display:none;
}

.Log_Titulo1 {
    margin:10px 0px 0px 20px;
    display: block;
}
.Log_TituloTabla {
    /* min-width: 300%; */
    position: relative;
    margin-left:20px;
    display: inline-block;
}

/*.Log_TituloTabla td:nth-child(1) {
    width:140px;
}*/

.Log_UserAgent {
    margin: 0px;
    position:relative;
/*    top: 105px; */
}

.Log_TablaEntrada {
    margin-left:20px;
    position:relative;
    max-width: calc(100% - 40px);
    display: table;
    table-layout:fixed;
    background:rgba(255, 255, 255, 0.2);
    transition:0.4s;
    margin-bottom: 20px;
    white-space:nowrap;      /* Impide los saltos de línea automáticos */
}

.Log_TablaEntradaFila:hover {
    background-color:#CCC;
}

.Log_TablaEntradaFila > div {
    padding-left:5px;
}

.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(1) { width: 70px;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(2) { width: 40px;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(3) {overflow:hidden;text-overflow:ellipsis;min-width: 250px;} 
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(4) {max-width: 140px;text-align:right;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(5) { width:40px;  text-align:right;}
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-child(6) { width:70px;  text-align:right; color:gray; }
/*.Log_TablaEntrada:nth-child-last > .Log_TablaEntradaFila > div:nth-child(6) { width:70px;  text-align:right; color:white; } */
/*
.Log_TablaEntrada > .Log_TablaEntradaFila > div:nth-last-child {
    color:darkgray;
}*/

.Log_TablaEntradaFila {
    display:table-row;
}

.Log_TablaEntradaFila > div {
    display:table-cell;
    padding-right:10px;
}

/*
.Log_TablaTitulo {
    display:table;
    width: 100%;
}

.Log_Titulo2 {width:125px;display: inline-block;position: relative;}
.Log_Titulo2::after { content:':'; position:absolute; right:0px; }


.Log_Titulo3 {width:225px;display: inline-block;position: relative;}
*/

#Log_Cargando {
    position:fixed;
    width:370px;
    height:70px;
    background:rgba(20, 20, 20, 0.9);
    border:1px solid #000;
    display:none;
    z-index:1000;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    box-shadow: 3px 3px 3px rgba(90, 90, 90, 0.7);
}

#Log_Cargando[visible=true] {
    display:table;
}

#Log_Cargando li {
    font-size:1.7rem;
    color:#999;
}

#Log_Cargando > div {
    color:#DDD;
    text-align:center;
    margin:10px;
}

.Log_ListaBotones input {
    display:none;
}

.Log_ListaBotones input + label {
    display:inline-block;
    margin:0px 10px 10px 0px;
    padding:10px;
    background:#555;
    color:#FFF;
    cursor:pointer;
}

.Log_ListaBotones input:checked + label {
    background:#111;
}

.Log_ContenidoOculto { 
    display:none; 
}