

.devildrey33_BannerFotosHorizontal {
    margin:0px;
    padding:0px 75px 0px 0px;
    display:table;
    margin-left:auto;
    margin-right:auto;
    border-spacing:20px;
    border-collapse:separate;
    position:relative;
}

.devildrey33_BannerFotosHorizontal > li {
    display:table-cell;
    width:159px;
    height:129px;
    border:1px solid transparent;
    position:relative;
}

/* Div con la imagen */
.devildrey33_BannerFotosHorizontal > li > div {
    display:inline-block;
    position:absolute;
    border:1px solid rgb(200, 200, 200);
    width:159px;
    height:129px;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:white;
    z-index:500;
    transition:0.3s ease-out;
    top:0px;
    left:0px;
    overflow:hidden;
    cursor:pointer;
}

.devildrey33_BannerFotosHorizontal > li:hover > div {
    border:1px solid rgb(0, 0, 0);
    width:250px;
    height:200px;
    z-index:1000;
    left:-50px;
    top:-20px;	
}

/* Div con el texto */
.devildrey33_BannerFotosHorizontal > li > div > div {
    display:table;
    opacity:0.0;
    transition:0.3s ease-out;
    text-align:center;
    background:rgba(100,100,100, 0.8);
    padding-top:0px;
    padding-left:150px;
    height:200px;
    width:250px;
    color:white;
    font-size:18px;
    text-shadow:#000 1px 1px 1px;
}
.devildrey33_BannerFotosHorizontal > li:hover > div > div {
    padding-top:50px;
    padding-left:0px;
    opacity:1;
}

@media (min-width:1910px) {		.devildrey33_BannerFotosHorizontal > li {                       display:table-cell;	}	}		
@media (max-width:1735px) {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+9) {	display:none;           }	}		
@media (max-width:1560px) {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+8) {	display:none;           }	}		
@media (max-width:1385px) {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+7) {	display:none;           }	}		
@media (max-width:1210px) {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+6) {	display:none;           }	}		
@media (max-width:1035px) {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+5) {	display:none;           }       }		
@media (max-width:860px)  {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+4) {	display:none;           }	}		
@media (max-width:685px)  {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+3) {	display:none;           }	}		
@media (max-width:530px)  {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+2) {	display:none;           }	}		
//@media (max-width:329px)  {		.devildrey33_BannerFotosHorizontal > li:nth-child(1n+2) {	display:none;           }	}		



/* Animación inicial */
/* Parte para el baner con animation */
.AnimacionBanner {
    -webkit-animation:KFAnimacionBanner 0.5s linear;
    animation:KFAnimacionBanner 0.5s linear;
}

@-webkit-keyframes KFAnimacionBanner {
    0%   { top:-600px; }
    75%  { top:0px; -webkit-transform: scale(1, 1); }
    90%  { top:15px; -webkit-transform: scale(1, 0.8);  } 
    100% { top:0px; -webkit-transform: scale(1, 1); }
}

@keyframes KFAnimacionBanner {
    0%   { top:-600px; }
    75%  { top:0px; transform: scale(1, 1); }
    90%  { top:15px; transform: scale(1, 0.8);  } 
    100% { top:0px; transform: scale(1, 1); }
}
			


/***********************************************************************/
/* Varias duraciones distintas para la animación del banner y del menu */
/***********************************************************************/
.Duracion1  { -webkit-animation-duration:0.2s  !important;  animation-duration:0.2s  !important; }
.Duracion2  { -webkit-animation-duration:0.3s  !important;  animation-duration:0.3s  !important; }
.Duracion3  { -webkit-animation-duration:0.4s  !important;  animation-duration:0.4s  !important; } 
.Duracion4  { -webkit-animation-duration:0.5s  !important;  animation-duration:0.5s  !important; }
.Duracion5  { -webkit-animation-duration:0.6s  !important;  animation-duration:0.6s  !important; }
.Duracion6  { -webkit-animation-duration:0.7s  !important;  animation-duration:0.7s  !important; }
.Duracion7  { -webkit-animation-duration:0.25s !important;  animation-duration:0.25s !important; }
.Duracion8  { -webkit-animation-duration:0.35s !important;  animation-duration:0.35s !important; }
.Duracion9  { -webkit-animation-duration:0.45s !important;  animation-duration:0.45s !important; } 
.Duracion10 { -webkit-animation-duration:0.55s !important;  animation-duration:0.55s !important; }
.Duracion11 { -webkit-animation-duration:0.65s !important;  animation-duration:0.65s !important; }
.Duracion12 { -webkit-animation-duration:0.75s !important;  animation-duration:0.75s !important; }
.Duracion13 { -webkit-animation-duration:0.23s !important;  animation-duration:0.23s !important; }
.Duracion14 { -webkit-animation-duration:0.33s !important;  animation-duration:0.33s !important; }
.Duracion15 { -webkit-animation-duration:0.43s !important;  animation-duration:0.43s !important; } 
.Duracion16 { -webkit-animation-duration:0.53s !important;  animation-duration:0.53s !important; }
.Duracion17 { -webkit-animation-duration:0.63s !important;  animation-duration:0.63s !important; }
.Duracion18 { -webkit-animation-duration:0.73s !important;  animation-duration:0.73s !important; }
.Duracion19 { -webkit-animation-duration:0.27s !important;  animation-duration:0.27s !important; }
.Duracion20 { -webkit-animation-duration:0.37s !important;  animation-duration:0.37s !important; }
.Duracion21 { -webkit-animation-duration:0.47s !important;  animation-duration:0.47s !important; } 
.Duracion22 { -webkit-animation-duration:0.57s !important;  animation-duration:0.57s !important; }
.Duracion23 { -webkit-animation-duration:0.67s !important;  animation-duration:0.67s !important; }
.Duracion24 { -webkit-animation-duration:0.77s !important;  animation-duration:0.77s !important; }
