/* Barra de navegación (barra lateral derecha)    
    Created on : 17-jul-2015, 20:59:17
    Author     : devildrey33
*/

    
#BarraNavegacion {
    position:fixed;
    top:0px;
    right:-100px;
    z-index:1000;
    transition:0.4s cubic-bezier(.32,-0.16,.68,1.13);
    opacity:0.0;
    display:flex-box;
    background-color:#353338; /* Para solucionar las separaciónes aleatorias entre iconos en ciertos moviles vista vertical */
}

#BarraNavegacion[Visible=true] {
    right:0px;
    opacity:1;
}

#BarraNavegacion_Indice, #BarraNavegacion_LabVer, #BarraNavegacion_LabExplorar {
    text-align:center;
    width:60px;
    height:60px;    
}

body #BarraNavegacion_LabVer, body #BarraNavegacion_LabExplorar {
    display:none;
}

body[tipo=Lab] #BarraNavegacion_LabVer, 
body[tipo=Lab] #BarraNavegacion_LabExplorar, 
body[tipo=LabError] #BarraNavegacion_LabVer, 
body[tipo=LabError] #BarraNavegacion_LabExplorar {
    display:table;
}



/* */
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=filas] > .Menu_Boton_SVG:nth-child(1) { display:block; }
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=filas] > .Menu_Boton_SVG:nth-child(2),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=filas] > .Menu_Boton_SVG:nth-child(3),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=filas] > .Menu_Boton_SVG:nth-child(4) { display:none; }

#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=columnas] > .Menu_Boton_SVG:nth-child(2) { display:block; }
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=columnas] > .Menu_Boton_SVG:nth-child(1),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=columnas] > .Menu_Boton_SVG:nth-child(3),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=columnas] > .Menu_Boton_SVG:nth-child(4) { display:none; }

#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=codigo] > .Menu_Boton_SVG:nth-child(3) { display:block; }
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=codigo] > .Menu_Boton_SVG:nth-child(1),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=codigo] > .Menu_Boton_SVG:nth-child(2),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=codigo] > .Menu_Boton_SVG:nth-child(4) { display:none; }

#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=preview] > .Menu_Boton_SVG:nth-child(4) { display:block; }
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=preview] > .Menu_Boton_SVG:nth-child(1),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=preview] > .Menu_Boton_SVG:nth-child(2),
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=preview] > .Menu_Boton_SVG:nth-child(3) { display:none; }
/*
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=columnas] > span { background-image: url('/Web/Graficos/BotonMixto.png');   }
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=filas]    > span { background-image: url('/Web/Graficos/BotonFilas.png');   }
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=codigo]   > span { background-image: url('/Web/Graficos/BotonCodigo.png');  }
#BarraNavegacion_BotonVer_Estado + .Menu_Boton_Label + .Menu_Boton > span[ver=preview]  > span { background-image: url('/Web/Graficos/BotonPreview.png'); }
*/


/* Por defecto oculto*/ 
body #BarraNavegacion_LabGuardar, body #BarraNavegacion_LabGuardarCache { 
    display:none; 
    opacity:0; 
/*    background-image: url('/Web/Graficos/BotonGuardar.png'); 
    background-position:center center;
    background-repeat:no-repeat;*/
    height:0px !important;
    transform:perspective(600px) rotateY(-90deg);    
    transform-origin:right center;      
    transition:0.4s cubic-bezier(.17,-0.42,0,1.35);  
    overflow:visible;
}
/* Si soy administrador, y estoy en el lab */
body[administrador33][tipo=Lab] #BarraNavegacion_LabGuardar, body[administrador33][tipo=Lab] #BarraNavegacion_LabGuardarCache { display:block; }

body[administrador33][tipo=Lab][modificado=true] #BarraNavegacion_LabGuardar,               /* Si soy administrador, estoy en el lab, y se ha modificado el archivo */
body[administrador33][tipo=Lab][cachemodificada=true] #BarraNavegacion_LabGuardarCache {    /* Si soy administrador, estoy en el lab, y se ha modificado algun checkbox del explorador de archivos */
    opacity:1;
    transform:perspective(600px) rotateY(0deg);    
    height:58px !important;
}
/* Si soy administrador, estoy en el lab, y se ha modificado algun checkbox del explorador de archivos */
body[administrador33][tipo=Lab][cachemodificada=true] #BarraNavegacion_LabGuardarCache { visibility:visible; opacity:1; }

/* Tamaños de los submenus según las columnas que se necesiten */
.SubIndice_Columas_1                                                {    width:300px !important;       }
.SubIndice_Columas_2                                                {    width:500px; /* 250 * 2 */    }
.SubIndice_Columas_3, .SubIndice_Columas_4, .SubIndice_Columas_5    {    width:540px; /* 180 * 3 */    }
.SubIndice_Columas_1 > div                                                          { flex:1 1 280px; }
.SubIndice_Columas_2 > div                                                          { flex:1 1 230px; }
.SubIndice_Columas_3 > div, .SubIndice_Columas_4 > div, .SubIndice_Columas_5 > div  { flex:1 1 155px; }


#BarraNavegacion_Indice > #BarraNavegacion_SubIndice {
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-content: stretch;
    justify-content: center;
    position:absolute;
    top:-3px;
    right:64px;
    background: rgba(37,35,40, 0.95);
    padding:5px;
    color:#FFF;
}

#BarraNavegacion_Indice > #BarraNavegacion_SubIndice > div {
    padding:10px;
    cursor:pointer;
}



/* Equivale a las ID : BarraNavegacion_Marco??????? */
#BarraNavegacion .Menu > .Menu_Boton_Input + .Menu_Boton_Label + .Menu_Boton + .Menu_Marco {
    transition:0.4s cubic-bezier(.17,-0.42,0,1.35);
    transform:perspective(600px) rotateY(-90deg);    
    opacity:0;
    transform-origin:right center;
    z-index:100000;
}
#BarraNavegacion .Menu > .Menu_Boton_Input:checked + .Menu_Boton_Label + .Menu_Boton + .Menu_Marco  {    
    transform:perspective(600px) rotateY(0deg);
    opacity:0.95;    
}


#BarraNavegacion_SubIndice > div {
    display:inline-block;
    text-align:left;
}

#BarraNavegacion_Cerrar


#BarraNavegacion_SubIndice > div {
    color:#FFF;
    padding:10px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    height:20px;
    cursor:pointer;
}

#BarraNavegacion_SubIndice > div:hover, #BarraNavegacion_LabMarcoVer > div:hover {
    background: #EA504E;
}

#BarraNavegacion_LabVer > #BarraNavegacion_LabMarcoVer {
    display:flex;
    flex-grow:row wrap;
    position:absolute;
    top:0px;
    right:64px;
    padding:1px;
    width:240px;
    height:60px;
    background:rgba(37,35,40, 0.95);
    color:#FFF;
}

/* Botones alineados orizontalmente para los marcos de las redes sociales y la vista del lab */
#BarraNavegacion_LabVer > #BarraNavegacion_LabMarcoVer > .Menu_Boton,
#BarraNavegacion_RedesSociales > #BarraNavegacion_MarcoRedesSociales > .Menu_Boton {
    display:inline-block;
}
/* Solo para los labels del MarcoVer */
#BarraNavegacion_LabMarcoVer > .Menu_Boton_Label {
    display:inline-block;
}

#BarraNavegacion_LabExplorar > #BarraNavegacion_LabMarcoExplorador {
    right:60px !important;
    position:fixed !important;
    width:300px;
    height:100%;
    top:0px;
    bottom:0px;
    color:#FFF;
    background:rgba(37,35,40, 0.95);
/*    transition:0.4s cubic-bezier(.17,-0.42,0,1.35);
    transform:perspective(600px) rotateY(-90deg);    
    transform-origin:right center;
    opacity:0;    */
}

/* Boton cerrar de 60 px */
/*#BarraNavegacion > #BarraNavegacion_Cerrar::before, #BarraNavegacion > #BarraNavegacion_Cerrar::after {
    content:'';
    top:28px;
    left:20px;
    width:20px;
    height:2px;
    background-color:white;
    position:absolute;
}
#BarraNavegacion > #BarraNavegacion_Cerrar::before {   transform: rotateZ(45deg);   }
#BarraNavegacion > #BarraNavegacion_Cerrar::after {    transform: rotateZ(-45deg);  }*/

/*

#BarraNavegacion > #BarraNavegacion_Next + #BarraNavegacion_VentanaNext, 
#BarraNavegacion > #BarraNavegacion_Prev + #BarraNavegacion_VentanaPrev {
    background:rgba(0,0,0,0.8);
    width:350px;
    height:85px;
    left:-354px;
    position:absolute;
    transition:0.4s cubic-bezier(.17,-0.42,0,1.35);
    transform-origin:right center;
    transform:perspective(600px) rotateY(-90deg);
    opacity:0.0;
    margin-top:-75px;
}
#BarraNavegacion > #BarraNavegacion_Next + #BarraNavegacion_VentanaNext > h3,
#BarraNavegacion > #BarraNavegacion_Prev + #BarraNavegacion_VentanaPrev > h3 {
    color:#FFFFFF;
    text-align:center;
    margin:0px 5px 0px 95px;
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    display:block;
    width:calc(100% - 100px);
}
#BarraNavegacion > #BarraNavegacion_Next + #BarraNavegacion_VentanaNext > img,
#BarraNavegacion > #BarraNavegacion_Prev + #BarraNavegacion_VentanaPrev > img {
    margin:12px 0px 12px 12px;
    width:75px;
    height:60px;
    float:left;
    opacity:0.7;
    border-radius:3px;
    background:#FFF;
}

#BarraNavegacion > #BarraNavegacion_Next:hover + #BarraNavegacion_VentanaNext,
#BarraNavegacion > #BarraNavegacion_Prev:hover + #BarraNavegacion_VentanaPrev {
    transform:perspective(600px) rotateY(0deg);
    opacity:1;
}
*/


#BarraNavegacion_MarcoNextPrev_Desc  > img {
    width:75px;
    height:60px;
    opacity:0.7;
    border-radius:3px;
    background:#FFF;    
    left:5px;    
}
#BarraNavegacion_MarcoNextPrev_Desc:hover > img,
#BarraNavegacion_MarcoNextPrev_Desc:hover > h3 {
    transform:translateY(-50%) scale(1.1, 1.1);
    border-radius:0px;
}

#BarraNavegacion_MarcoNextPrev_Desc > img,
#BarraNavegacion_MarcoNextPrev_Desc > h3 {
    top:50%;
    transform:translateY(-50%) scale(0.95,0.95);
    display:inline-block;
}

#BarraNavegacion_MarcoNextPrev_Desc > h3 {
    display:inline-block;
    color:#FFFFFF;
    text-align:center;
/*    width:calc(100% - 250px);*/
    text-shadow:1px 1px 1px #000;
    left:25%;
    font-size:1.8rem;
    width:75%;
}

#BarraNavegacion_NextPrev {
    display:none;
}
#BarraNavegacion_NextPrev[mostrar=true] {
    display:block;
}

/* TODO : !!!!! REVIEW IDEA animar els butons (per resaltarlos) del sub-index al mostrar-lo !!!!!! */
/*
#BarraNavegacion_NextPrev[mostrar=true] > #BarraNavegacion_MarcoNextPrev > button {
    animation:Ani_ResaltarBoton 10s ease;
    -webkit-animation:Ani_ResaltarBoton 10s ease;
}*/
/* Animación para todos */    
/*
@keyframes Ani_ResaltarBoton {
    0%   { color:rgba(255,255,255,1) !important; }                 
    20%  { color:rgba(255,255,255,0) !important; }                 
    40%  { color:rgba(255,255,255,1) !important; }                 
    60%  { color:rgba(255,255,255,0) !important; }                 
    80%  { color:rgba(255,255,255,1) !important; }                 
    100% { color:rgba(255,255,255,0) !important; }                 
}*/
/* Animación para todos */    /*
@-webkit-keyframes Ani_ResaltarBoton {
    0%   { color:rgba(255,255,255,1) !important; }                 
    20%  { color:rgba(255,255,255,0) !important; }                 
    40%  { color:rgba(255,255,255,1) !important; }                 
    60%  { color:rgba(255,255,255,0) !important; }                 
    80%  { color:rgba(255,255,255,1) !important; }                 
    100% { color:rgba(255,255,255,0) !important; }                 
}*/

#BarraNavegacion_MarcoNextPrev {
    position:absolute;
    display:flex;
    right:64px;
    top:-14px;
    background: rgba(37,35,40, 0.95);
    color:#FFF;
    border: 1px solid #353338;
    width:482px;
    height:90px;
}

#BarraNavegacion_MarcoNextPrev > button:not(#BarraNavegacion_MarcoNextPrev_Desc) {
    margin:10px !important;
    display:inline-block;
    flex:1 1 70px;
    position:relative;
    /* Si no en la vista de movil vertical se hacen enormes, ya que tienen un 200% por defecto */
    zoom:1 !important;
}

#BarraNavegacion_MarcoNextPrev_Desc {
    display:inline-block;
    flex:1 1 300px;
    margin:10px 0px;
    padding:0px;
    transition:0.4s;
/*    margin:10px 0px;*/
}

#BarraNavegacion_MarcoNextPrev_Desc:hover {
    cursor:pointer;
/*    background:#EA504E;
    border:1px solid red;*/
}






/* Boton Next 60px */
/*#BarraNavegacion_MarcoNextPrev_Next::before,
#BarraNavegacion_MarcoNextPrev_Next::after {
    content:'';
    top:27px;
    left:25px;
    width:10px;
    height:2px;
    background-color:#FFF;
    position:absolute;
}
#BarraNavegacion_MarcoNextPrev_Next:disabled::before,
#BarraNavegacion_MarcoNextPrev_Next:disabled::after,
#BarraNavegacion_MarcoNextPrev_Prev:disabled::before,
#BarraNavegacion_MarcoNextPrev_Prev:disabled::after {
    background-color:#AAA;
}

#BarraNavegacion_MarcoNextPrev_Next::before {   transform: rotateZ(45deg);   }
#BarraNavegacion_MarcoNextPrev_Next::after {    transform: rotateZ(-45deg);  top:34px; }

/* Boton Prev 60px */
/*#BarraNavegacion_MarcoNextPrev_Prev::before,
#BarraNavegacion_MarcoNextPrev_Prev::after {
    content:'';
    top:27px;
    left:25px;
    width:10px;
    height:2px;
    background-color:white;
    position:absolute;
}            
#BarraNavegacion_MarcoNextPrev_Prev::before {   transform: rotateZ(-45deg);   }
#BarraNavegacion_MarcoNextPrev_Prev::after  {   transform: rotateZ(45deg);  top:34px; }

/*#BarraNavegacion_Votacion                   {    display:none;  }
#BarraNavegacion_Votacion[Mostrar='true']   {    display:block; }*/

#BarraNavegacion_MarcoVotacion {
    position:absolute;
    display:block;
    right:64px;
    top:-3px;
    background: rgba(37,35,40, 0.95);
    color:#FFF;
    border: 1px solid #353338;
    width:346px;
    height:114px;
    padding-top:10px;
}

#BarraNavegacion_MarcoVotacion > span {
    font-size:1.5rem;
    display:table;
    margin:0px auto;
}

html[lang=es] #BarraNavegacion_MarcoVotacion > span:nth-child(1)::after {    content:'Por favor puntúa este documento del 1 al 5';   }
html[lang=en] #BarraNavegacion_MarcoVotacion > span:nth-child(1)::after {    content:'Please rate this document form 1 to 5';        }

html[lang=es] #BarraNavegacion_MarcoVotacion > span:nth-child(2)::after {    content:'De esta forma me ayudas a mejorar la web';     }
html[lang=en] #BarraNavegacion_MarcoVotacion > span:nth-child(2)::after {    content:'Doing this you are helping me to improve it.'; }

#BarraNavegacion_MarcoVotacion > .VotarDocumento_Estrellas {
    display:table;
    margin:4px auto 0px auto;    
}

#BarraNavegacion_MarcoVotacion > .VotarDocumento_Estrellas > button {
    width:48px;
    height:48px;
    display:inline-block;
    padding:0px;
    margin:2px;
    zoom:1!important;
}








/* REDES SOCIALES */
#BarraNavegacion_MarcoRedesSociales {
    position:absolute;
    display:flex;
    flex-grow: row wrap;
    right:64px;
    top:-3px;
    background: rgba(37,35,40, 0.95);
    color:#FFF;
    border:1px solid #353338;
    width:180px;
    height:60px;
}

/* Boton LinkEdin de momento oculto */
#BarraNavegacion_MarcoRedesSociales > #BarraNavegacion_MarcoRedesSociales_Linkedin { display:none; }

/*#BarraNavegacion_MarcoRedesSociales > button {
    display:inline-block;
    width:58px;
    height:58px;
    margin:2px !important;
    overflow:hidden;
    zoom:1 !important;
}*/

/* Los botones del marco de las redes sociales NECESITAN el overflow visible para poder mostrar sus tooltips */
#BarraNavegacion_MarcoRedesSociales_Facebook, #BarraNavegacion_MarcoRedesSociales_Twitter, #BarraNavegacion_MarcoRedesSociales_GooglePlus { overflow:visible; }


#BarraNavegacion_MarcoRedesSociales_Facebook:hover   { background-color: rgb(58, 88, 155) !important;  border-color: rgb(0,0,150) !important; }
#BarraNavegacion_MarcoRedesSociales_Twitter:hover    { background-color: rgb(40, 168, 224) !important; border-color: rgb(0,0,250) !important; }
#BarraNavegacion_MarcoRedesSociales_GooglePlus:hover { background-color: rgb(202, 70, 56) !important;  }
/*#BarraNavegacion_MarcoRedesSociales_Linkedin:hover   { background-color: rgb(0, 122, 185) !important;  border-color: rgb(0,0,200) !important;}*/

/* Bug raro en chrome que hace sobresalir una parte inexistente del span .IconoTexto mas abajo del limite del boton */
/* No se puede aplicar a todos los .Menu_Boton, ya que oculta tambien su tool-tip (con los 4 botones de la vista del editor) */
#BarraNavegacion_RedesSociales_Estado + .Menu_Boton_Label + .Menu_Boton {
    overflow:hidden;
}


/* Votación */
#BarraNavegacion_Votacion {
    height:0px !important;
    transform:perspective(600px) rotateY(-90deg);    
    transform-origin:right center;      
    transition:0.4s cubic-bezier(.17,-0.42,0,1.35);  
}
/* OJO no englobar este mostrar, porque hay problemas con algunos marcos (el de explorar ejemplos del lab el primero y mas crítico)*/
#BarraNavegacion_Votacion[mostrar='true'] {
    transform:perspective(600px) rotateY(0deg);
    height:60px !important;
}
#BarraNavegacion_Votacion[mostrar='true'] > .Menu_Boton {
    animation:Ani-ResaltarFondoBoton 0.5s ease 0s 6 alternate;
}
/*
#BarraNavegacion_Votacion[mostrar='true'] > #BarraNavegacion_Votacion_Estado + .Menu_Boton_Label {
/*    animation:Ani-ResaltarBordeBoton 0.5s ease 0s 6 alternate;
}*/

/*#BarraNavegacion_Votacion[mostrar='true']:hover > #BarraNavegacion_Votacion_Estado + .Menu_Boton_Label {
    animation-play-state: paused;
}*/

/* Parar animación blink del boton de la votación */
/*#BarraNavegacion_Votacion[mostrar='true']:hover  > .Menu_Boton {
    animation-play-state: paused;
    background:#ea504e !important; 
    border:1px solid #FF0000 !important;
}*/

/* Transición de resaltado para los iconos en SVG con rotaciones y escalas */
.MiniLab > .Menu > .Menu_Boton > .Menu_Boton_SVG,                                                           /* Botones Minilab */
.Menu > .Menu_Boton > .Menu_Boton_Cruz > .Menu_Boton_SVG,                                                   /* Botones check */
.Menu > .Menu_Boton > .Menu_Boton_Cruz > span > .Menu_Boton_SVG,                                            /* Boton de la votación (requiere un span extra para la animación de rotación) */
#BarraNavegacion_LabMarcoVer > .Menu_Boton_Label + .Menu_Boton > .Menu_Boton_Cruz > .Menu_Boton_SVG,        /* Marco con los botones para las vistas del lab */
#BarraNavegacion_MarcoRedesSociales > .Menu_Boton > .Menu_Boton_Cruz > .Menu_Boton_SVG,                     /* Marco con los botones para las redes sociales */
#BarraNavegacion_LabGuardarCache > .Menu_Boton_SVG,                                                         /* Lab guardar cache */
#BarraNavegacion_LabGuardar > .Menu_Boton_SVG,                                                              /* Lab guardar archivo */
#BarraNavegacion > a > .Menu_Boton_SVG  {                                                                   /* Botones a href (Indice) */
    transform:scale(1, 1);
    transition:0.5s cubic-bezier(.33,.05,.69,1.59);
}

.MiniLab > .Menu:hover > .Menu_Boton > .Menu_Boton_SVG,                                                     /* Botones Minilab */
.Menu:hover > .Menu_Boton > .Menu_Boton_Cruz > .Menu_Boton_SVG,                                             /* Botones check */
.Menu:hover > .Menu_Boton > .Menu_Boton_Cruz > span > .Menu_Boton_SVG,                                      /* Boton de la votación (requiere un span extra para la animación de rotación) */
#BarraNavegacion_LabMarcoVer > .Menu_Boton_Label:hover + .Menu_Boton > .Menu_Boton_Cruz > .Menu_Boton_SVG,  /* Marco con los botones para las vistas del lab */
#BarraNavegacion_MarcoRedesSociales > .Menu_Boton:hover > .Menu_Boton_Cruz > .Menu_Boton_SVG,               /* Marco con los botones para las redes sociales */
#BarraNavegacion_LabGuardarCache:hover > .Menu_Boton_SVG,                                                   /* Lab guardar cache */
#BarraNavegacion_LabGuardar:hover > .Menu_Boton_SVG,                                                        /* Lab guardar archivo */
#BarraNavegacion > a:hover > .Menu_Boton_SVG  {                                                             /* Botones a href (Indice) */
    transform:scale(1.25, 1.25);    
}

/* Animación para resaltar algo mas la votación */
#BarraNavegacion_Votacion[mostrar='true'] > .Menu_Boton > .Menu_Boton_Cruz > span {
    display:inline-block;
    animation:Ani-RotarVotacion 13s cubic-bezier(.3,-0.5,.23,.78) 0s infinite alternate;
    transition:0.4s;
}
@keyframes Ani-RotarVotacion {
    0%   { transform:perspective(600px) rotateY(0deg) rotateX(0deg);   }
    45%  { transform:perspective(600px) rotateY(0deg) rotateX(0deg);   }
    65%  { transform:perspective(600px) rotateY(385deg) rotateX(7deg); }
    70%  { transform:perspective(600px) rotateY(360deg) rotateX(7deg); }
    100% { transform:perspective(600px) rotateY(360deg) rotateX(0deg); }
}

@keyframes Ani-ResaltarFondoBoton {
    0%   { background:#29272c; border:1px solid #353338; }
    100% { background:#ea504e; border:1px solid #FF0000; }
}
/*@keyframes Ani-ResaltarBordeBoton {
    0%   { border:1px solid #353338; }
    100% { border:1px solid #FF0000; }
}*/
/*
.Menu_Boton_Cruz > svg {
    top:-22px;
    position:relative;
}*/

/* Barra de navegación inferior por defecto oculta (actualmente solo contiene la animación para cargar) */
#BarraNavegacion_Inferior {
    width:60px;
    height:60px;
    position:fixed;
    display:none;
    bottom:0px;
    right:0px;    
    z-index:100;
}
/* Para mostrar la barra de navegacion inferior */
#BarraNavegacion_Inferior[mostrar=true] {
    display:block;
    transform:scale(0.5, 0.5);
}

#BarraNavegacion_Inferior > div:nth-child(1) {
    position:absolute;
    border-radius:50px;
    width:40px;
    height:40px;
    border:10px solid #353338;
    border-color:#353338 #EA504E;
    animation:Rotacion 10s infinite ease-in-out alternate;
}

#BarraNavegacion_Inferior > div:nth-child(2) {
    position:absolute;
    top:15px;
    left:15px;
    border-radius:20px;
    width:20px;
    height:20px;
    border:5px solid #353338;
    border-color:#EA504E #353338;
    animation:RotacionInv 10s infinite alternate;
}

/* Animación para el icono de carga (menú lateral derecho inferior, semi circulo externo)*/
@keyframes Rotacion 		{ 
    0%   { transform:rotateZ(0deg)      rotateX(0deg);      border-color:#FFF #353338; }
    10%  { transform:rotateZ(360deg)    rotateX(0deg);      border-color:#FFF #353338; }
    20%  { transform:rotateZ(720deg)    rotateX(0deg);      border-color:#FFF #353338; }
    30%  { transform:rotateZ(1080deg)   rotateX(0deg);      border-color:#FFF #353338; }
    40%  { transform:rotateZ(1440deg)   rotateX(0deg);      border-color:#EEE #353338; }
    50%  { transform:rotateZ(1800deg)   rotateX(180deg);    border-color:#EA504E #353338; }
    60%  { transform:rotateZ(1440deg)   rotateX(180deg);    border-color:#EA504E #353338; }
    70%  { transform:rotateZ(1080deg)   rotateX(180deg);    border-color:#EA504E #353338; }
    80%  { transform:rotateZ(720deg)    rotateX(0deg);      border-color:#FFF #353338; }
    90%  { transform:rotateZ(360deg)    rotateX(0deg);      border-color:#FFF #353338; }
    100% { transform:rotateZ(0deg)      rotateX(0deg);      border-color:#FFF #353338; }           
}

/* Animación para el icono de carga (menú lateral derecho inferior, semi circulo interno)*/
@keyframes RotacionInv 		{ 
    0%   { transform:rotateZ(0deg)       rotateX(0deg);     border-color:#FFF #353338;}
    10%  { transform:rotateZ(-360deg)    rotateX(0deg);     border-color:#FFF #353338;}
    20%  { transform:rotateZ(-720deg)    rotateX(0deg);     border-color:#FFF #353338;}
    30%  { transform:rotateZ(-1080deg)   rotateX(0deg);     border-color:#FFF #353338;}
    40%  { transform:rotateZ(-1440deg)   rotateX(0deg);     border-color:#FFF #353338;}
    50%  { transform:rotateZ(-1800deg)   rotateX(0deg);     border-color:#FFF #353338;}
    60%  { transform:rotateZ(-1440deg)   rotateX(180deg);   border-color:#EA504E #353338;  }
    70%  { transform:rotateZ(-1080deg)   rotateX(180deg);   border-color:#EA504E #353338;  }
    80%  { transform:rotateZ(-720deg)    rotateX(0deg);     border-color:#FFF #353338;}
    90%  { transform:rotateZ(-360deg)    rotateX(0deg);     border-color:#FFF #353338;}
    100% { transform:rotateZ(0deg)       rotateX(0deg);     border-color:#FFF #353338;}           
}

