/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-jul-2015, 20:55:34
    Author     : devildrey33
*/

#BarraPrincipal {
    z-index:950;
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
    width:60px;
    background:#252328;
    border-right:1px solid #353338;
    color:white;
}


/* Marco que sirve de fondo para no ver el balanceo por encima de la barra en la animación del menú */
#BarraPrincipal_Fondo {
    position:absolute;
    z-index:2;
    left:0px;
    background:#252328;
    width:60px;
    border-right:1px solid #353338;
    height:2000px;
}



/* Div que contiene los datos del submenu de un BotonCheck de la barra principal */
#BarraPrincipal .Menu > .Menu_Boton_Input + .Menu_Boton_Label + .Menu_Boton + .Menu_Marco  {
    position:absolute;
    display:flex !important;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content:center;
    min-width:420px;
    top:0px;
    background-color:rgba(37,35,40, 0.95);
    border:1px solid #353338;
    z-index:100000;
    transition:0.5s cubic-bezier(.17,-0.42,0,1.35);
    box-shadow:2px 2px 2px rgba(50,50,50,0.7);
    opacity:0;
    transform-origin:left center;
    transform:perspective(600px) rotateY(90deg);
    left:65px;
}


#BarraPrincipal .Menu > .Menu_Boton_Input:checked + .Menu_Boton_Label + .Menu_Boton + div {
    transform:perspective(600px) rotateY(0deg);
    opacity:1;
}

/*#BarraPrincipal_MarcoCPP, #BarraPrincipal_MarcoCSS, #BarraPrincipal_MarcoJS, #BarraPrincipal_MarcoPHP {
}*/

#BarraPrincipal_MarcoCPP > a, #BarraPrincipal_MarcoCSS > a, #BarraPrincipal_MarcoJS > a, #BarraPrincipal_MarcoPHP > a {
    display:block;
    flex:1 1 100px;
    padding:15px 5px;
    color:#FFF;
    margin:1px;
    border:1px solid #333;
    transition:0.4s;
    line-height:100%;
}

#BarraPrincipal_MarcoCPP > a:hover, #BarraPrincipal_MarcoCSS > a:hover, #BarraPrincipal_MarcoJS > a:hover, #BarraPrincipal_MarcoPHP > a:hover {
    border:1px solid red;
    background-color:rgb(234, 80, 78);
}


/* Transición de burguer a cruz */
.Menu_Boton_Input:checked + .Menu_Boton_Label + .Menu_Boton > #BarraPrincipal_Boton_Burguer {
    width:0px;
    left:30px;
    transform:rotateZ(180deg);
}

.Menu_Boton_Input:checked + .Menu_Boton_Label + .Menu_Boton > #BarraPrincipal_Boton_Burguer::before {
    top:0px;
    left:-10px;
    transform:rotateZ(45deg);
}

.Menu_Boton_Input:checked + .Menu_Boton_Label + .Menu_Boton > #BarraPrincipal_Boton_Burguer::after {
    top:0px;
    left:-10px;
    transform:rotateZ(-45deg);
}


/* Marco que contiene el boton de la administración */
#Marco33 {
    position:fixed;
    bottom:-100px;
    left:0px;
    z-index:1001;
    transition:0.5s cubic-bezier(.17,-0.42,0,1.35);
}
body[administrador33=true] #Marco33 {
    bottom:0px;
}
#Marco33 > .Menu_Boton {
    border-top:1px solid #353338;
    border-bottom:none !important;
}
/* Marco que contiene el men� de la administración */
#BarraPrincipal_Marco33 {
    width:460px;
/*    height:366px; */
        
/*    top:-308px !important;*/
    top:auto !important;
    bottom:0px;
    transition:0.4s ease-in-out !important;    
/*    background:#252328 !important;
    opacity:0.98;*/
    border:1px solid #353338;
}
/* Botones dentro del marco 33 */
#CH_IPSBan {
    margin:4px !important;
}
.MarcoOpcionesBorde > button {
    display:inline-block;
    margin:4px;
    margin:auto;
}
/*
#BarraPrincipal_Marco33 h3 {
    padding-left:5px;
    margin:0px 0px -17px 5px;
}*/

/*.ContenedorMarco33 {
    display:inline-block;
    vertical-align:top;
    padding-bottom:10px;
}*/
/* Tabla con los controles del tipo checkbox */
/*.TablaMarco33 {
    margin:20px 0px 0px 10px;
    border:1px solid #353338;
    border-radius:3px;    
    position:relative;
    display:inline-block;
}
.TablaHtaccess33 {
    width:220px;
    margin:0px;
}
.TablaSesion33, .TablaHtaccess33 {
    padding:10px 0px 2px 5px;  
    max-width:205px;
    list-style:none;
}

.TablaSesion33::before, .TablaHtaccess33::before  {
    position:absolute;
    display:inline-block;
    top:-13px;
    left:3px;
    font-size:1.2em;
}
.TablaSesion33::before   { content:'Sesión'; }
.TablaHtaccess33::before { content:'htaccess'; }

.TablaMarco33 li {
    position:relative;
    vertical-align: middle;
    display:inline-block;    
    height:32px;
}

.TablaMarco33 li:nth-child(odd) {
    width:140px;
}

.TablaMarco33 li:nth-child(even) {
    width:60px;
}*/



.TablaGeneral {
    padding:2px;
    margin:10px 0px 0px 10px !important;
}


#BarraPrincipal_MarcoBuscar {
/*    display:block !important;*/
/*    background:rgb(234, 80, 78) !important;*/
    width:500px;
    text-align: left;
}

#BarraPrincipal_MarcoBuscar_Edit {
    position:relative;
    top:18px;
    width:420px;
    height:20px;
    border:1px solid #353338;
    left:10px;
}
#BarraPrincipal_MarcoBuscar_BotonBuscar {
    position:relative;
    display:block;
    width:60px;
    height:60px;
    top:-1px;
    left:10px;
    cursor:pointer;
}

#BarraPrincipal_MarcoBuscar_Resultado {
    max-height:230px;
    overflow:auto;
    margin-bottom:10px;
    padding:0px 10px;
    width:100%;
}

#BarraPrincipal_MarcoBuscar_Resultado a {
    color:#FFF;
}

#BarraPrincipal_MarcoBuscar_Resultado > a > div {
    padding: 0px 10px;
}

#BarraPrincipal_MarcoBuscar_Resultado > a > div:hover {
    background-color:rgb(234, 80, 78);
}



/* NO SE SI S'UTILITZA ENCARA */
.BarraPrincipal_BotonSubMenu {
    position:relative;
    z-index: 1000;
    height: 58px;
    text-decoration:none;
    /*    background:#252328;*/
    color:#FFFFFF;
    display:inline-block;
    width:calc(50% - 10px);
    transition:0.4s;
    /* margin-bottom: 0px; */
    border:1px solid #353338;
    cursor:pointer;
    margin: 2px;
    line-height: 14px;
    /* font-size: 1.6rem; */
    /* vertical-align: top; */
    text-align: center;
    /* padding: 4px 0px 0px 0px; */
}

/* ?????????? */
/*.Menu_Boton_Label:hover + div + div + .Menu_Boton {
    background-color:rgb(234, 80, 78);    
}*/

.BarraPrincipal_BotonSubMenu:hover {
    background-color:rgb(234, 80, 78);
    border:1px solid red;
}
.BarraPrincipal_BotonSubMenu:active {
    background-color:#AA504E;
}
   


/* Submenu principal */
#BarraPrincipal_Submenus {
    position:absolute;
    top:-274px;
    width:60px;
    height:360px;
    transition:0.4s cubic-bezier(.17,-0.42,.63,1.24);
    z-index:1001;
    background:rgb(37,35,40);
    text-align:center;
}



/* Hace bajar el menú de la izquierda al pulsar sobre el burguer */ 
#BarraPrincipal_Boton_Estado:checked + .Menu_Boton_Label + .Menu_Boton + #BarraPrincipal_Submenus {
    top:61px;
}



#BarraPrincipal_Boton_Burguer {
    position:absolute;
    background:#FFFFFF;
    width:20px;
    left:20px;
    top:29px;
    height:2px;
    display:inline;
    z-index:1003;
    transition:0.4s;
    cursor:pointer;
}

#BarraPrincipal_Boton_Burguer::before, #BarraPrincipal_Boton_Burguer::after {
    content:'';
    position:absolute;
    background:#FFFFFF;
    width:20px;
    height:2px;
    transition:0.4s;
    left:0px;
}
#BarraPrincipal_Boton_Burguer::before  {    top:7px;   }
#BarraPrincipal_Boton_Burguer::after   {    top:-7px;  }
/* Todos los botones EXCEPTO el burguer del menu lateral izquierdo*/
/*.BarraPrincipal_Boton_Input:not(#BarraPrincipal_Boton_Estado):checked + label {
    border:1px solid red !important;
}*/



/* Hover del boton Buscar */
/* #BarraPrincipal_BotonBuscar_Estado + label:hover + div > span */


/* Hover para los botones del menu */
/*.Menu_Boton:hover > .Menu_Boton_Cruz , */
/*.BarraPrincipal_BotonSubMenu:hover > span {
    transform: rotateZ(-3deg) !important;
    transform-origin:left center -10px;
    color:rgb(240,240,0);
}*/

/* IcoTexto global.. mumal */
.Menu_Boton > span, .BarraPrincipal_BotonSubMenu > span {
    position:absolute;
    /* vertical-align: middle; */
    top:0px;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    height: 14px;
    transform: rotateZ(0deg) scale(1, 1);
    transition:0.4s;
}


