/* Base para el tema de devildrey33.es */
@charset "UTF-8"; /* Especificar el charset SOLO en este archivo, que es el primero a minificar */

/* Fuente del logo vertical del menÃº de la izquierda */
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Orbitron');
/* Fuente para las etiquetas h1, h2, h3, h4, h5*/
@import url('https://fonts.googleapis.com/css?family=Karla');
/* Fuente para las etiquetas pre, code, y otyras que necesiten una fuente monoespaciada */
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext');

/* Fix para mostrar la fuente Nova Mono */
.NovaMono { font-family: "Nova Mono";  display:none;  }

/* Variables globales */
:root {
    --ColorResaltado:rgb(234, 80, 78);
    --ColorTextoFO:rgb(2550, 255, 255); /* Color del texto en fondo oscuro */
}

::selection {
    background: rgb(234, 80, 78);
    color:#fff;
}

html, button, .boton {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}
html {
   font-size  : 62.5%; /* ConversiÃ³n para que el rem valga 10 pixeles por defecto en la web */
   min-width  : 600px;
   height     : 100%;    
/*   transition : 0.4s;*/
}
/*h1, h2, h3, h4, h5 { font-family : 'Karla', sans-serif; }*/
h1, h2, h3, h4, h5 { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
h2, h3, h4, h5 { margin : 0px; }       
h1 { font-size : 2.5rem;}             
h2 { font-size : 2.4rem;    transition : 0.5s ease-in-out; } /* transición para la el resaltado de color de texto del ancla */
h3 { font-size : 2.0rem;    }
h2[resaltado] { color : rgb(234, 80, 78); }

body { 
    margin      : 0px; 
    padding     : 0px; 
    margin-left : 60px; 
    background  : #29272C;
    min-width   : 600px;
/*  overflow-y  : scroll;*/
    height      : 100%;    
    font-size   : 1.4rem;
    transition  : 0.4s;
}

i { background-color: rgba(255,255,255,0.8); }
a { 
    cursor          : pointer; /* las etiquetas a sin href no tienen el cursor:pointer (necesario para etiquetas a con cÃ³digo javascript en el onclick)*/
    color           : rgb(234,80,78); 
    text-decoration : none; 
    text-shadow     : 0px 0px 1px rgba(234,80,78, 0.6); 
}
a:hover { text-decoration : underline; }

img { max-width : 100%; }

pre, code, kbd, samp, tt {
    font-family : Inconsolata, monospace;
    font-size   : 1.4rem;
    margin      : 1rem 0px 1rem;
  }
  
hr {
    border-top: 1px solid rgb(200, 200, 200);
    /* margin-left  : -10px; */
    /* margin-right : -5px; */
}

/*pre, code {
    font-size: 1.1em;
}*/

#MarcoNavegacion {
    z-index    : 1;
    position   : relative;
    background : rgb(240,240,240);
    opacity    : 1.0;
    transition : 0.4s;
    overflow   : hidden;
    min-height : 100%;
    height     : auto !important;
}

body[Tipo=Indice] > #MarcoNavegacion, body[Tipo=Lab] > #MarcoNavegacion, body[Tipo=LabError] > #MarcoNavegacion, body[Tipo=Error404] > #MarcoNavegacion {
    background : #29272C;
}



/* TextBox */
input[type=text], input[type=url], input[type=email], input[type=date], input[type=password] {
    outline-color : rgb(234, 80, 78);    
}
/* TextBox con foco */
input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=password]:focus {
    box-shadow : 0px 0px 5px rgb(234, 80, 78);
}








.Centrado {
    display      : table;
    margin-left  : auto !important;
    margin-right : auto !important;
}


.MarcoVentana-350, .MarcoVentana-250 {           /* Marco del mensaje */
    position            : fixed; 
    bottom              : -500px;                /* Inicialmente 500 pixeles por debajo de la pantalla*/
    right               : 0px;
    display             : table;      
    background          : #1D1A21;
    color               : #FFF;         
    border-radius       : 6px 6px 1px 1px; 
    padding             : 0px 30px;   
    box-shadow          : 0px 2px 12px 4px #000;
    z-index             : 3000;
    transition          : 1.2s cubic-bezier(.17,-0.42,0,1.35);
    transform           : perspective(600px) rotateZ(-90deg) rotateY(-180deg);
    opacity             : 0;        
}

.MarcoVentana-350 { width : 350px !important; }
.MarcoVentana-250 { width : 250px !important; }
.MarcoVentana-350[visible=true] {  right : calc(50% - 205px);  }
.MarcoVentana-250[visible=true] {  right : calc(50% - 155px);  }

.MarcoVentana-350[visible=true], .MarcoVentana-250[visible=true]  {
    transform : perspective(600px) rotateZ(0deg) rotateY(0deg);
    opacity   : 1;
    bottom    : 45%;            
}
/* Mensaje con fondo rojo (en plan alerta) */
.MarcoVentana-350[alerta=true], .MarcoVentana-250[alerta=true]  {
    animation  : Ani_VentanaMensaje_Alerta 3s ease-in-out 0s;
    background : rgb(75,0,0);
}

/* Animación para la alerta de la ventana mensaje */
@keyframes Ani_VentanaMensaje_Alerta {
    0%   { background : rgb(75,0,0); }
    25%  { background : rgb(175,0,0); }
    50%  { background : rgb(75,0,0); }
    75%  { background : rgb(175,0,0); }
    100% { background : rgb(75,0,0); }
}


.MarcoVentana-350::before, .MarcoVentana-250::before {   /* Titulo rojo */
    position      : relative;  
    display       : inline-block;   
    content       : attr(titulo);
    height        : 25px;        
    padding       : 5px 0px 0px 10px;
    left          : -30px;         
    background    : rgb(234, 80, 78);     
    width         : calc(100% + 50px);                
    box-shadow    : 0 5px 5px -5px rgba(255,255,255, .9) inset;
    border-radius : 6px 6px 0px 0px;                
    font-weight   : bold;
    text-shadow   : 1px 1px 1px #222;
}    
.MarcoVentana-350[alerta=true]::before, .MarcoVentana-250[alerta=true]::before {   /* Titulo rojo */
    background : rgb(35,0,0);
}

#VentanaLogin {
    height  : 125px;
/*    z-index : 101;  ha de ser 3001 */
}

.VentanaMensaje { z-index : 102; }
/*.VentanaError   { z-index : 103; background-color : rgb(75,0,0); }*/

/*#VentanaError[visible=true] { background-color : rgb(75,0,0);  }*/

#VentanaLogin > table {
    margin-top : 15px;
    width      : 100%;
}

.VentanaError_AnimacionError {
    animation : Ani_VentanaLogin_Error 0.5s ease-in-out 0s;
}
/* AnimaciÃ³n para el error en la ventana del login */
@keyframes Ani_VentanaLogin_Error {
    0%   { transform  : perspective(600px) rotateZ(0deg) rotateY(0deg);     background : #1D1A21; }
    30%  { transform  : perspective(600px) rotateZ(3deg) rotateY(75deg) translateZ(-20px);        }
    35%  { background : rgb(234, 80, 78);                                                         }
    55%  { background : rgb(234, 80, 78);                                                         }
    70%  { transform  : perspective(600px) rotateZ(-3deg) rotateY(-75deg) translateZ(20px);       }
    100% { transform  : perspective(600px) rotateZ(0deg) rotateY(0deg);     background : #1D1A21; }
}

#VentanaLogin::before {    content : 'Login';   backface-visibility : hidden; }
/*.VentanaError::before {    content : 'Error'; }*/


#VentanaLogin input {
    width      : calc(100% - 8px);
    margin     : 4px;
    background : #29272C;
    color      : white;
    border     : 1px solid #353338;
}

.VentanaMensaje, .VentanaError, #VentanaLogin, #BarraPrincipal, #BarraNavegacion_Inferior, #BarraNavegacion, .MarcoVentana-350, .MarcoVentana-250 {
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;    
}


.VentanaMensaje > p, .VentanaError > p {
    -webkit-user-select : text;
    -moz-user-select    : text;
    -ms-user-select     : text;
    user-select         : text;    
}




/* CheckBox */
.CheckBox {
    width    : 60px;
    height   : 20px; 
    position : relative;
    cursor   : pointer;
    display  : inline-block;
}

.CheckBox:hover > div:nth-child(1) {
    transform : scale(1.1);
    border    : 1px solid red;
}
.CheckBox:hover > div:nth-child(2) {
    border : 1px solid red;
}
/* Botn */
.CheckBox > div:nth-child(1) {
    position      : absolute;
    border-radius : 8px;
    background    : #333;
    top           : 2px;
    left          : 2px;
    width         : 20px;
    height        : 20px;
    z-index       : 2;                
    border        : 1px solid #353338;
    box-shadow    : 0 2px 2px rgba(0,0,0,.13), 0 2px 2px rgba(0,0,0,.13) inset;
    transition    : left cubic-bezier(0.34,1.61,0.7,1) 250ms, transform cubic-bezier(0.34,1.61,0.7,1) 250ms, border-color 250ms;                
}
/* Carril */
.CheckBox > div:nth-child(2) {
    position      : absolute;
    border-radius : 8px;
    top           : 5px;
    left          : 5px;
    width         : 46px;
    height        : 16px;
    border        : 1px solid #353338;
    background    : #29272c;
    z-index       : 1;
    box-shadow    : 0 2px 2px rgba(0,0,0,.13) inset;
    overflow      : hidden;
    transition    : border-color 250ms;
}

.CheckBox > div:nth-child(2)::before {
    content    : '';
    position   : absolute;
    background : #ea504e;
    box-shadow : 0 2px 2px rgba(0,0,0,.13) inset;
    width      : 50px;
    height     : 26px;
    left       : -35px;
    transition : left cubic-bezier(0.34,1.61,0.7,1) 250ms;
}            

.CheckBox[marcado=true] > div:nth-child(1) {
    left : 30px;
}
.CheckBox[marcado=true] > div:nth-child(2)::before {
    left : -10px;
}




#Error404 {
    width  : 100%;
    height : 100%;
}




#ErroresPHP {
    position         : fixed;
    width            : 90%;
    max-height       : 80%;
/*    height:80%;*/
    background       : rgba(220,220,220, 0.95);
    color            : #000;
    border           : 1px solid #222;
    bottom           : 0;
/*    margin-bottom:5%;*/
    left             : 5%;
    z-index          : 100;
    font-family      : Inconsolata, monospace;
    font-size        : 1.4rem !important;
    transform-origin : 50% 100%;
    transform        : perspective(600px) rotateX(90deg);
    transition       : 0.4s cubic-bezier(.17,-0.42,0,1.35);
    opacity          : 0;
}

#ErroresPHP[mostrar=true] {
    opacity   : 1;
    transform : perspective(600px) rotateX(0deg);
}

#ErroresPHP_Titulo {
    background  : rgb(75,0,0);
    color       : white;
    font-size   : 1.6rem !important;
    font-weight : bolder;
    padding     : 10px;
    height      : 15px;
}
#ErroresPHP_Cerrar {
    position   : absolute;
    right      : 1px;
    top        : 1px;
    width      : 22px;
    height     : 22px;
    color      : #FFF;
    padding    : 5px;
    font-size  : 2rem !important;
    text-align : center;
    transition : 0.4s;
    cursor     : pointer;
}
#ErroresPHP_Cerrar:hover {
    background : rgb(234, 80, 78);
}

#ErroresPHP_Info {
    padding     : 10px;
    overflow    : scroll;
    white-space : nowrap;
    height      : 300px;
}

#ErroresFinPlantilla {
    display : none;
}

.SinSeleccion {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}



/* Tabulación */
.Tab {
    margin-left:30px;
}