/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-mar-2016, 2:26:27
    Author     : devildrey33
*/
/*
.Boton, button {
    margin              : 10px 5px;    
    padding             : 10px;
    display             : inline-block;
    background          : rgb(60,60,60);
    color               : #FFFFFF;
    transition          : background 0.35s linear 0s, color 0.35s linear 0s;
    border              : 1px solid #353338;
    cursor              : pointer;
    text-align          : center;
    font-size           : 1.7rem;
    outline-color       : #EA504E;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;    
}

.Boton:disabled, button:disabled {
    color      : #CCC !important;
    background : rgba(37, 35, 40, 0.95) !important;
    border     : 1px solid rgba(37, 35, 40, 0.95);
}

.Boton:active, button:active {
    color : rgb(90,90,90);
}

.Boton:hover:enabled, button:hover:enabled {
    background      : #EA504E;
    text-decoration : underline;
    border          : 1px solid red;
}

*/




/* -[INICIO devildrey33.button]- */            
/* Clases que empiezan por 'Boton-' */
[class^='Boton-'] {
    border              : 2px solid #000;                      /* 2 pixeles de borde negro                                                */
    text-align          : center;                              /* Texto centrado                                                          */
    text-decoration     : none;                                /* Sin decoraciones para el texto (por defecto viene con underline)        */
    padding             : 10px;                                /* Un poco de padding para que se vea bien el botón                        */
    /* La transición en el click (:active) tiene que ser rápida 150ms (transform y color), la transición para cambiar de foco en 150ms */
    transition          : transform 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;   
/*    font-family         : Karla, sans-serif;                   /* Fuente de google                                                        */
    font-size           : 1.7rem;                              /* Tamaño de la fuente                                                     */
    color               : #FFF;                                /* Color del texto en blanco                                               */
    margin              : 10px;                                /* 10 pixeles de margen para separar los botones entre si.                 */
    position            : relative;                            /* Posición relativa para que sus hijos partan desde él                    */
    overflow            : hidden;                              /* Todo lo que sobresalga del botón no se verá                             */
    cursor              : pointer;                             /* Puntero del mouse que muestre una mano                                  */
    transform           : perspective(600px) translateZ(0px) rotateZ(0deg) rotateX(0deg); /* Perspectiva, rotación y posición por defecto */
    text-shadow         : 1px 1px 1px #666;                    /* Una ligera sombra gris para el texto                                    */
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;    
    display:inline-block;
}
/* Elimino el outline del botón por una transición con la sombra */
[class^='Boton-']:focus { 
    outline    : 0px solid transparent;                         /* Elimino el outline que hay por defecto       */
    box-shadow : 0px 0px 4px 2px #800,  0px 0px 2px 1px #300;   /* Creo una sombra rojo oscuro de 2 tonalidades */ 
}            
/* Alejo el objeto en la perspectiva cuando el usuario presiona sobre él */
[class^='Boton-']:active {
    transform : perspective(600px) translateZ(-75px) rotateZ(-0.5deg) rotateX(-10deg);  /* Hago un efecto 3D de hundimiento para la capa principal */
    color     : #BBB;                                                                   /* Cambio el color del texto a gris claro                  */
}
/* Color del borde rojo al pasar el mouse por encima del botón */
[class^='Boton-']:hover, [class^='Boton-']:active { border : 2px solid darkred; text-decoration : none; }            
/* -[FIN devildrey33.button]- */            
            
/* -[INICIO devildrey33.button2]- */
/* Preparación para los pseudo elementos before y after */
[class^='Boton-']::before, [class^='Boton-']::after {
    content    : '';                   /* Contenido (requerida para inicializar el pseudo-selector)               */
    position   : absolute;             /* Posición absoluta (relativa al button)                                  */
    top        : 0px;                  /* Empezamos desde arriba del <button>                                     */
    left       : 0px;                  /* Empezamos desde la izquierda del <button>                               */
    width      : 100%;                 /* Ancho 100% del <button>                                                 */
    height     : 100%;                 /* Alto 100% del <button>                                                  */
    transition : 0.4s ease-in-out;     /* Transición para el hover de 500ms para que se vea bien (capa animación) */
}
/* Para las transiciones del fondo a color rojo en el hover, se utilizara el pseudo elemento ::before (capa animación) */
[class^='Boton-']::before {
    z-index    : -1;                   /* MUY IMPORTANTE esta capa va por debajo de la capa principal             */
}
/* Para mostrar el fondo negro del botón se utilizara el pseudo elemento ::after (capa fondo) */
[class^='Boton-']::after {
    z-index          : -2;             /* MUY IMPORTANTE esta capa va por debajo de la capa animación */
    background-color : rgb(60, 60, 60) /* Color del fondo gris oscuro                                 */
}
/* -[FIN devildrey33.button2]- */

/*******************/
/* BoxShadow 1 y 2 */
/*******************/            
/* Sombra interior que crece desde las puntas hacia el centro */
.Boton-BoxShadow1::before                                          { box-shadow : 0px 0px 0px 0px transparent inset; }            
.Boton-BoxShadow1:hover::before, .Boton-BoxShadow1:active::before  { box-shadow : 0px 0px 30px 25px #ea504e inset;   }            
/* Efecto invertido (crece desde el centro hacia las puntas) en este caso lo más facil es hacer el fondo rojo, mientras que el box-shadow empezara cubriendo el fondo de color gris oscuro */
.Boton-BoxShadow2::before                                          { box-shadow : 0px 0px 30px 25px rgb(60, 60, 60) inset;   }            
.Boton-BoxShadow2:hover::before, .Boton-BoxShadow2:active::before  { box-shadow : 0px 0px 0px 0px transparent inset; }            
.Boton-BoxShadow2::after                                           { background-color : #ea504e !important;          }

/************************/
/* LinearGradient 1 y 2 */
/************************/
/* Desplazamiento lateral del fondo que contiene un degradado lineal. */
.Boton-LinearGradient1::before, .Boton-LinearGradient2::before, .Boton-Normal::before { width : 400%; }            
.Boton-LinearGradient1::before, .Boton-Normal::before                        { left : -300%;   background-image : linear-gradient(45deg, #ea504e 40%, transparent 60%); }
.Boton-LinearGradient2::before { left : 0%;      background-image : linear-gradient(45deg, transparent 40%, #ea504e 60%); }
.Boton-LinearGradient1:hover::before, .Boton-Normal:hover::before, .Boton-LinearGradient1:active::before, .Boton-Normal:active::before { left : 0%;    }
.Boton-LinearGradient2:hover::before, .Boton-LinearGradient2:active::before { left : -300%; }

/********************/
/* LinearGradient 3 */
/********************/
/* Desplazamiento desde el centro a los laterales con un degradado lineal utilizando el pseudo-elemento ::before (para el degradado) */
.Boton-LinearGradient3::before, .Boton-LinearGradient3::after                { width : 300%; }            
.Boton-LinearGradient3::before {
    background-image : linear-gradient(45deg, #ea504e 40%, transparent 60%); 
    left             : -200%;
}
.Boton-LinearGradient3::after {
    background-image : linear-gradient(45deg, rgb(60,60,60) 40%, #ea504e 60%);
    left             : 0%;
}
.Boton-LinearGradient3:hover::before, .Boton-LinearGradient3:active::before { left:0%; }            
.Boton-LinearGradient3:hover::after,  .Boton-LinearGradient3:active::after   { left:-200%; }            

/*************/
/* Efecto 3D */
/*************/
.Boton-3DSuperior::before, .Boton-3DInferior::before,
.Boton-3DLateralD::before, .Boton-3DLateralI::before {
    background-color : #ea504e;
    transition       : 0.4s cubic-bezier(.7,.24,0.26,1.52);
}
/* Inicialmente el eje X rotado 90 grados */
.Boton-3DSuperior::before { transform-origin : top center;           transform : perspective(600px) rotateX(-90deg); }
.Boton-3DInferior::before { transform-origin : bottom center;        transform : perspective(600px) rotateX(90deg);  }
/* En el hover devolvemos la rotación del eje X a 0 grados */
.Boton-3DSuperior:hover::before,  .Boton-3DInferior:hover::before,
.Boton-3DSuperior:active::before, .Boton-3DInferior:active::before { transform : perspective(600px) rotateX(0deg);   }
/* Inicialmente el eje Y rotado 90 grados */
.Boton-3DLateralD::before { transform-origin : center right;         transform : perspective(600px) rotateY(-90deg); }
.Boton-3DLateralI::before { transform-origin : center left;          transform : perspective(600px) rotateY(90deg);  }
/* En el hover devolvemos la rotación del eje Y a 0 grados */
.Boton-3DLateralD:hover::before,  .Boton-3DLateralI:hover::before,
.Boton-3DLateralD:active::before, .Boton-3DLateralI:active::before { transform : perspective(600px) rotateY(0deg);   }

/************/
/* Circular */
/************/
/* Circulo creciendo desde el centro */
.Boton-Circular::before {
    border-radius    : 100%;
    width            : 0px;
    height           : 0px;
    background-color : #ea504e;
    top              : 50%;
    left             : 50%;
    transform        : translateX(-50%) translateY(-50%); 
}
.Boton-Circular:hover::before, .Boton-Circular:active::before { width:300px; height:300px; }    