/* !!! DEPORECATED !!! */

.CuboCabecera {
  position: absolute;
  perspective:1200px;
  perspective-origin:30% 50%;
  top:50px;
  right:120px;
  z-index: 1;
}

.CuboCabecera_Objeto {
  position: relative;
  height: 80px;
  width: 80px;
/*  right:-200px;*/
  transition:0.7s linear;
  transform-style: preserve-3d;    
/*  -webkit-animation : Ani_Cubo 10s infinite ease-in alternate;
  animation         : Ani_Cubo 10s infinite ease-in alternate;*/
}

.CuboCabecera[cara="1"] > .CuboCabecera_Objeto {
  transform: translateZ( -40px ) rotateX(0deg)  rotateY(-10deg)  rotateZ(-10deg); 
}
.CuboCabecera[cara="2"] > .CuboCabecera_Objeto {
  transform: translateZ( -40px ) rotateX(90deg)  rotateY(-10deg)  rotateZ(-10deg); 
}
.CuboCabecera[cara="3"] > .CuboCabecera_Objeto {
  transform: translateZ( -40px ) rotateX(180deg)  rotateY(-10deg)  rotateZ(-10deg); 
}
.CuboCabecera[cara="4"] > .CuboCabecera_Objeto {
  transform: translateZ( -40px ) rotateX(-90deg)  rotateY(-10deg)  rotateZ(-10deg); 
}
.CuboCabecera[cara="5"] > .CuboCabecera_Objeto {
  transform: translateZ( -40px ) rotateX(0deg)  rotateY(80deg)  rotateZ(-10deg); 
}
.CuboCabecera[cara="6"] > .CuboCabecera_Objeto {
  transform: translateZ( -40px ) rotateX(0deg)  rotateY(-100deg)  rotateZ(-10deg); 
}

.CuboCabecera_Objeto > div {
  position: absolute;
  height: 100%;
  width: 100%;
/*  padding: 20px;*/
  opacity: 0.7;
  background-color:#EA504E;
  border:1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

.CuboCabecera_Objeto > div:nth-child(1) {
    transform: rotateY(   0deg ) translateZ( 40px );
}

.CuboCabecera_Objeto > div:nth-child(2) {
    transform: rotateX( 180deg ) translateZ( 40px );
}

.CuboCabecera_Objeto > div:nth-child(3) {
    transform: rotateY(  90deg ) translateZ( 40px );
}

.CuboCabecera_Objeto > div:nth-child(4) {
    transform: rotateY( -90deg ) translateZ( 40px );
}

.CuboCabecera_Objeto > div:nth-child(5) {
    transform: rotateX(  90deg ) translateZ( 40px );
}

.CuboCabecera_Objeto > div:nth-child(6)  {
    transform: rotateX( -90deg ) translateZ( 40px ); 
}

/*
@keyframes Ani_Cubo {
  0%    {    transform: rotateX(0deg)  rotateY(0deg)  rotateZ(0deg);   }
  25%   {    transform: rotateX(2deg)  rotateY(-4deg)  rotateZ(-2deg);   }
  50%   {    transform: rotateX(5deg) rotateY(4deg) rotateZ(4deg);  }
  75%   {    transform: rotateX(2deg) rotateY(-1deg) rotateZ(8deg);  }
  100%  {    transform: rotateX(1deg) rotateY(-7deg) rotateZ(-2deg); }
}

@-webkit-keyframes Ani_Cubo {
  0%    {    transform: rotateX(0deg)  rotateY(0deg)  rotateZ(0deg);   }
  25%   {    transform: rotateX(2deg)  rotateY(-4deg)  rotateZ(-2deg);   }
  50%   {    transform: rotateX(5deg) rotateY(4deg) rotateZ(4deg);  }
  75%   {    transform: rotateX(2deg) rotateY(-1deg) rotateZ(8deg);  }
  100%  {    transform: rotateX(1deg) rotateY(-7deg) rotateZ(-2deg); }
}*/