/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-oct-2016, 2:44:17
    Author     : devildrey33
*/
#Error404 {
    position:relative;
    color:#FFF;
}

#Error404_Contenedor {
    position  : fixed;
    display   : inline-block;
    transform : translateX(-50%) translateY(-50%);
    left      : 50%;
    top       : 50%;
}

#Error404_404 {
    font-size:35rem;
    font-family: Inconsolata,monospace !important;
    text-shadow:1px 1px 1px #000;
}

#Error404_Texto {
    font-size:1.6rem;
}