/* Documento que contiene el CSS para el indice de devildrey33 */

.Articulo_Portada {
    position:relative;
}

.Articulo_Portada_MarcoI, .Articulo_Portada_MarcoD {
    position:absolute;
    display: inline-block;
    top:0px;
    width:10px;
    height: 100%;    
}

.Articulo_Portada > .Articulo_Portada_MarcoI::before, .Articulo_Portada > .Articulo_Portada_MarcoI::after,
.Articulo_Portada > .Articulo_Portada_MarcoD::before, .Articulo_Portada > .Articulo_Portada_MarcoD::after {
    transition:0.4s;
    content:'';
    position:absolute;
    width:20px;
    height:20px;    
}

.Articulo_Portada > .Articulo_Portada_MarcoI::before, .Articulo_Portada > .Articulo_Portada_MarcoI::after, 
.Articulo_Portada > .Articulo_Portada_MarcoD::before, .Articulo_Portada > .Articulo_Portada_MarcoD::after {
    width:10px;
    height: 10px;
}

.Articulo_Portada > .Articulo_Portada_MarcoI { left:-1px; margin:0px; }
.Articulo_Portada > .Articulo_Portada_MarcoD { right:0px; margin:0px; }
/* Parte izquierda del marco */
.Articulo_Portada > .Articulo_Portada_MarcoI::before {
    top:0px;
    left:0px;
    border-top:3px solid rgba(57, 55, 60, 0.3);
    border-left:3px solid rgba(57, 55, 60, 0.3);
}

.Articulo_Portada > .Articulo_Portada_MarcoI::after {
    left:0px;
    bottom:-1px;
    border-bottom:3px solid rgba(57, 55, 60, 0.3);
    border-left:3px solid rgba(57, 55, 60, 0.3);
}
/* Parte derecha del marco */
.Articulo_Portada > .Articulo_Portada_MarcoD::before {
    bottom:-1px;
    right: 0px;
    border-bottom:3px solid rgba(57, 55, 60, 0.3);
    border-right:3px solid rgba(57, 55, 60, 0.3);
}

.Articulo_Portada > .Articulo_Portada_MarcoD::after {
    top:0px;
    right: 0px;
    border-top:3px solid rgba(57, 55, 60, 0.3);
    border-right:3px solid rgba(57, 55, 60, 0.3);
}

/* hover para los contenedores izquierdo y derecho de las marcas */
.Articulo_Portada:hover > .Articulo_Portada_MarcoD::before, .Articulo_Portada:hover > .Articulo_Portada_MarcoD::after,
.Articulo_Portada:hover > .Articulo_Portada_MarcoI::before, .Articulo_Portada:hover > .Articulo_Portada_MarcoI::after {
    width:18px;
    height:18px;        
}


/* hover para las marcas */
.Articulo_Portada:hover > .Articulo_Portada_MarcoI::before { 
    top:6px;
    left:6px;
    border-top:2px solid #666;
    border-left:2px solid #666;
    border-radius:2px;
}
.Articulo_Portada:hover > .Articulo_Portada_MarcoI::after { 
    bottom:6px;
    left:6px;
    border-bottom:2px solid #666;
    border-left:2px solid #666;
    border-radius:2px;
}

.Articulo_Portada:hover > .Articulo_Portada_MarcoD::before { 
    bottom:6px;
    right:6px;
    border-bottom:2px solid #666;
    border-right:2px solid #666;
    border-radius:2px;
}
.Articulo_Portada:hover > .Articulo_Portada_MarcoD::after { 
    top:6px;
    right:6px;
    border-top:2px solid #666;
    border-right:2px solid #666;
    border-radius:2px;
}





.Articulo_Portada > h1 > a {
    color:inherit;
/*    transition:0.4s;
    position:relative;*/
/*   text-decoration:underline; */
}

/*.Articulo_Portada > h1 > a:hover {
    color:rgb(234, 80, 78);
}*/

.Articulo_Portada:hover > h1 > a {
     text-decoration:none;
/*     left:13px;*/
}

#Categorias_Estado + #Categorias_Label {
    width:100%;
    height:60px;
    position:absolute;
    cursor:pointer;
    z-index:1;
}

/* Combo de categorias */
#Categorias_Estado + #Categorias_Label + #Categorias {
    font-family: 'Karla', sans-serif;
    font-size:2.1rem;
    border-bottom: 1px solid #353338;
    margin-bottom: -1px;
    background:#1D1A21;
    color:white;
    padding:20px 40px;
    cursor:pointer;
    display:block;
    transition:max-height .5s ease-out; 
    overflow:hidden;
    opacity:0;
    max-height:19px;
    height:auto;
}

#Categorias_Estado:checked + #Categorias_Label + #Categorias { 
    max-height:600px;
    transition:max-height .5s ease-in;
}

#Categorias_Estado + #Categorias_Label + #Categorias[visible=true] {
    opacity:1;
}

/* Marco que contiene las categorias */
#Categorias > div {
/*    list-style:none; */
    display:flex;
    flex-flow:row wrap;
    padding:0px;                
    margin-top:10px;    
    z-index:5;
}

#Categorias > div > div {
    padding:5px 0px;
    transition:0.4s;
    display:inline-block;
    position:relative;
    background:transparent;
    margin-right:20px;
    flex:0 0 200px;
    z-index:10;
}
/* Categoria Todo al 100% de ancho */
/*#Categorias > div > div:nth-child(1) {
    flex:1 1 100%; text-align: center;
}*/

#Categorias > div > div:hover {
    color:rgb(234, 80, 78);
    padding-left:10px;
    margin-right:10px;
    background:#252328;
}


#MarcoIndice[visible=true] > .Articulo_Portada {
    transform:perspective(600px) rotateX(0deg);
}
/* Articulo */
#MarcoIndice > .Articulo_Portada {
    position:relative;
    z-index:1;
    background:#29272C;
    padding:40px 260px 40px 40px;
    color:#FFFFFF;
/*    transition:0.5s cubic-bezier(0.17, -0.42, 0.63, 1.44); */
    transition:padding 0.5s cubic-bezier(0.17, -0.42, 0.63, 1.44), color 0.5s cubic-bezier(0.17, -0.42, 0.63, 1.44), background 0.5s cubic-bezier(0.17, -0.42, 0.63, 1.44);
    position:relative;
    border-bottom: 1px solid #353338;
    border-left:   1px solid #353338;
    border-right:  1px solid #353338;
    margin-right: -1px;
    transform:perspective(600px) rotateX(180deg);
    backface-visibility:hidden;
}

.Articulo_Portada:hover {
    background:#1D1A21;
}
.Articulo_Portada > h1 {
    margin:0px 0px 4px 0px;
    transition:color 0.4s, padding 0.4s;
}

.Articulo_Portada > h1 > a {
    position:relative;
    transition:color 0.4s, left 0.4s;
    left:0px;
    color:#999;
    white-space: nowrap;
    text-shadow:1px 1px 1px #000;
}
.Articulo_Portada:hover > h1 > a {
    color:#FFF;
    left:10px;
}

.Articulo_Portada > .MarcoInformacion {
    font-size:1.2rem;
    color:#999;
    margin-left: 10px;
    transition:opacity 0.4s, margin-left 0.4s;
    opacity:0.5;
}

.Articulo_Portada:hover > .MarcoInformacion {
    margin-left: 25px;
    opacity:1;
}

.Articulo_Portada > a > .Articulo_Portada_Imagen {
    position:absolute;
    right:40px;
    top:0px;
    bottom:0px;
    margin:auto 0px auto 0px;
/*    border: 1px solid #353338;*/
    background:#DDDDDD; 
    opacity:0.2;
    transition:0.4s;
    border-radius:8px;
    /*filter:blur(2px);*/
}

.Articulo_Portada:hover > a > .Articulo_Portada_Imagen {
    opacity:1.0;
    right:70px;
/*    filter:blur(0px);*/
}

.Articulo_Portada_ImagenO {
    position:absolute;
    width:155px;
    height:125px;
    right:40px;
    top:0px;
    bottom:0px;
    margin:auto 0px auto 0px;
/*    border: 1px solid #353338;*/
    background:rgba(0, 0, 0, 0.4);    
    transition:0.4s;
    z-index:100;
    border-radius:8px;
}

.Articulo_Portada:hover > a > .Articulo_Portada_ImagenO {
    background:rgba(0, 0, 0, 0);    
    right:70px;
}



