/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-may-2015, 18:31:33
    Author     : devildrey33
*/

#MarcoNavegacionLab {
    margin:0px 62px 0px 2px;
    min-height:100%;
}

#Lab_Barra1 {
    width:4px;
    height:100%;
    background:#252328;
    background:linear-gradient(90deg, #252328 0%, #353338 100%);
    position:fixed;
    cursor:ew-resize;
    z-index:1000;
    display:none;
    border:1px solid #353338;
}
/*
#Lab_Barra1::after {
    content:'';
    position:absolute;
    width:60px;
    top:-8px;
    left:calc(50% - 30px);
    border-radius:4px;
    height:20px;
    background:#252328;
    background:linear-gradient(90deg, #252328 0%, #353338 100%);
    border:1px solid #353338;
}*/

#Lab_Preview {
    background-color:#DDDDDD;
    border:none;
    position:fixed;
    display:none;
}
/* Preview para el explorador de la administración */
#Lab_Explorar_Preview, #Lab_Explorar_Menu {
    position:fixed;
    width:calc(100% - 460px);
    background:#CCC;
    left:460px;
    height:50%;
    border:none;
}

#Lab_Explorar_Menu {
    top:50%;
    border-top:1px solid #353338;
    background:#252328;
}

.Lab_Explorar {
    position:fixed; 
    width:400px !important; 
    overflow-y:scroll !important;
}

.Lab_Item {
    display:table;
}

.Lab_Explorador {
    /*    background-color:#444444;*/
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    white-space:nowrap;
    display:block;
}

.Lab_Explorador .Lab_Directorio, .Lab_Explorador .Lab_Archivo {
    list-style-type:none;
    /*transition:0.2s;*/
    border-radius:1px;
    padding:2px 4px;
    display:table;
    cursor:pointer;
}

.Lab_Explorador .Lab_Directorio:hover, .Lab_Explorador .Lab_Archivo:hover {
    background:rgb(234, 80, 78) !important;
    color:#FFFFFF;
}

.Lab_Explorador .Lab_Archivo[actual] {
    background:red;
}

.Lab_Explorador > .Lab_Lista {
    padding:5px 0px 0px 10px !important;
    display:table !important;
}

.Lab_Explorador .Lab_Lista {
    padding:0px 0px 0px 20px;
    margin:0px;
/*    display:none; */
}

.Lab_Directorio_Animacion {
    position:relative;
    overflow:hidden;
    width:100%;
    height:0px;
    transition:0.4s cubic-bezier(.07,-0.42,0,1.20);
}

.Lab_Explorador_Check {
    position:relative;
    top:2px;
    display:table;
    float:left;
}

.Lab_IcoDirectorioC, .Lab_IcoDirectorioA, .Lab_IcoArchivo {
  width: 18px;
  height: 16px;
  display: table;
  float: left;
  margin-top: 2px;
  margin-right: 2px;
  background-image: url("../Graficos/Lab_Icos.png");    
}
.Lab_IcoDirectorioC { background-position: -36px -1px; }
.Lab_IcoDirectorioA { background-position: -18px -1px; }
.Lab_IcoArchivo { background-position: 0px -1px; }

/*.Lab_Explorador .Lab_Directorio::before {
    content:'';
    background:green;
    min-width:20px;
    display:table-cell;
    position:relative;
}

.Lab_Explorador .Lab_Archivo::before {
    content:'';
    background:yellow;
    min-width:20px;
    display:table-cell;
    position:relative;
}*/

.Lab_Explorador .Lab_Archivo > a {
/*    display:none;*/
    color:#FFF;
    display:inline-block;
}

/*#Lab_Explorador input[type=checkbox] {
    display:none;
}

#Lab_Explorador .LabExplorador_Input:checked + .LabExplorador_Label + ul {
    display:table !important;
}*/


/* Div que se pone por delante del iframe, al mover la barra separadora para reajustar el tamaño de la vista 
    Este div es necesario porque si no, el drag&drop interfiere con los eventos del iframe.
    El tema consiste en poner un objeto transparente por encima del iframe, para que este absorba los eventos del mouse.
*/
#Lab_ParcheIframe {
  z-index: 980;
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/*.CodeMirror {
    font-size:1.7rem;
}*/

#MarcoNavegacion[tipo=Lab], #MarcoNavegacion[tipo=LabError] {
    margin:0px 60px 0px 0px;
}


/*
@media  only screen and (max-width: 360px),
        only screen and (orientation:portrait) and (min-resolution: 1.2dppx), 
        only screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-moz-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-o-min-device-pixel-ratio: 13/10),
        only screen and (orientation:portrait) and (min-resolution: 120dpi) {
    #MarcoNavegacionLab {
        margin:0px 90px 0px 0px;
    }            
};*/

/* Ajustes para los botones de las vistas del lab */
#Lab_VerColumnas_Estado + label { left: 61px; }
#Lab_VerCodigo_Estado + label { left: 121px; }
#Lab_VerPreview_Estado + label { left: 181px; }

.Lab_BotonVerCodigo, .Lab_BotonVerPreview, .Lab_BotonVerMixto, .Lab_BotonVerColumas, .Lab_BotonVerFilas {
    background-repeat: no-repeat;
    background-position: center center;
}




#BarraNavegacion_Lab_IconoVer > span {
    top:-9px;
    left:12px;
    width:36px;
    height:36px;
/*    position:relative;*/
    display:table;
}


.MiniLab_Contenedor {
    position:relative;
}

.MiniLab_Contenedor > .MiniLab_ContenedorBotones > .Menu_Boton_Input + .Menu_Boton {
    margin:2px;
    min-width:42px;
    display:table-cell;
    vertical-align: middle;
    width:42px;
    height:42px;
}

.MiniLab_Contenedor > .MiniLab_ContenedorBotones > .Menu_Boton_Input:checked + .Menu_Boton {
    background-color: rgb(234, 80, 78);
    border-color:red;
}

.MiniLab_ContenedorBotones {
    position:absolute;
    right:-5px;
    top:-51px;
    display:table;
    border-collapse: separate;
    border-spacing: 4px;
}

.MiniLab {
    width:100%;
    display:block;
    height:320px;
    outline:1px solid transparent;
    border-left:4px solid purple;
    position:relative;
    margin-bottom:90px;
    transition:0.4s;
/*    border-radius:4px 4px 8px 4px;*/
}

.MiniLab:hover {
    outline:1px solid #999;
/*    border-left:6px solid purple;    */
}

.MiniLab[oculto='true'] {
    display:none;
}

.MiniLab img {
    border:none !important;
    padding:0px; 
    margin:0px;
}

.MiniLab > .CodeMirror {
    height:320px !important;
}

.MiniLab[ver=codigo] > .CodeMirror > .CodeMirror-scroll {
    overflow-x: scroll !important;
    overflow-y: scroll !important;
}

.MiniLab[ver=codigo] > .CodeMirror {
    width:100%;
    max-width:100%;
}
.MiniLab[ver=mixto] > .CodeMirror {
    width:50%;
    max-width:50%;
}

.MiniLab[ver=codigo] > .CodeMirror, .MiniLab[ver=mixto] > .CodeMirror { visibility:visible; }
.MiniLab[ver=preview] > .CodeMirror                                   { visibility:hidden;  }

.MiniLab > .MiniLab_Preview {
    border:none;
    position:absolute;
    top:0px;
    background:#FFF;
    height:calc(100%);
    border-radius:0px 4px 8px 0px;
}

.MiniLab[ver=preview] > .MiniLab_Preview {
    width:calc(100% - 4px);
    left:0px;
}

.MiniLab[ver=mixto] > .MiniLab_Preview {
    width:calc(50% - 4px);
    left:50%;
    border-left:4px solid rgb(230, 230, 230);
}

.MiniLab[ver=codigo] > .MiniLab_Preview                                          { display:none;  }
.MiniLab[ver=preview] > .MiniLab_Preview, .MiniLab[ver=mixto] > .MiniLab_Preview { display:block; }

/* Botones de las vistas en el minilab */
.Menu_Boton_Input + .MiniLab_VerPreview, .Menu_Boton_Input + .MiniLab_VerCodigo, .Menu_Boton_Input + .MiniLab_VerMixto {
    width:60px;
    height:60px;
    bottom:-65px;
    position:absolute;
    z-index:20;
}

.Menu_Boton_Input + .MiniLab_VerPreview + .Menu_Boton, .Menu_Boton_Input + .MiniLab_VerCodigo + .Menu_Boton, .Menu_Boton_Input + .MiniLab_VerMixto + .Menu_Boton {
    position:absolute;
    bottom:-65px;
    z-index:1;
}

/*
#BarraNavegacion_LabMarcoVer > .Menu_Boton_Input:checked + .Menu_Boton,
.MiniLab_ContenedorBotones > .Menu_Boton_Input:checked + .Menu_Boton,
.Menu_Boton_Input:checked + .MiniLab_VerPreview, 
.Menu_Boton_Input:checked + .MiniLab_VerCodigo, 
.Menu_Boton_Input:checked + .MiniLab_VerMixto,
.MiniLab_VerPreview:hover, .MiniLab_VerCodigo:hover, .MiniLab_VerMixto:hover {
    background-color:rgb(234, 80, 78);
    border:1px solid red;
}*/

.MiniLab_VerCodigo, .MiniLab_VerCodigo + .Menu_Boton   { right:0px;   }
.MiniLab_VerPreview, .MiniLab_VerPreview + .Menu_Boton { right:60px;  }
.MiniLab_VerMixto, .MiniLab_VerMixto + .Menu_Boton     { right:120px; }

.MiniLab > a > button {
    width: auto !important;
    position: absolute;
    bottom: -65px;
    height: 60px;
    right:192px;
    margin:0px !important;
    box-shadow:none !important; /* */
    
    /*zoom:1 !important;*/
}

