/* Logo de la web 
    Cuando la web está cargando se muestra centrado con una animación que hace bailar las letras de izquierda a derecha y viceversa
    Cuando la web está cargada se muestra en la esquina izquierda inferior en posición vertical 

    Creado el : 26-feb-2016, 23:53:41
    Autor     : devildrey33
*/


.AnimarLogo > div:nth-child(1)  {    -webkit-animation-delay: -0.1s;   animation-delay: -0.1s;     }
.AnimarLogo > div:nth-child(2)  {    -webkit-animation-delay: -0.2s;   animation-delay: -0.2s;     }
.AnimarLogo > div:nth-child(3)  {    -webkit-animation-delay: -0.3s;   animation-delay: -0.3s;     }
.AnimarLogo > div:nth-child(4)  {    -webkit-animation-delay: -0.4s;   animation-delay: -0.4s;     }
.AnimarLogo > div:nth-child(5)  {    -webkit-animation-delay: -0.5s;   animation-delay: -0.5s;     }
.AnimarLogo > div:nth-child(6)  {    -webkit-animation-delay: -0.6s;   animation-delay: -0.6s;     }
.AnimarLogo > div:nth-child(7)  {    -webkit-animation-delay: -0.7s;   animation-delay: -0.7s;     }
.AnimarLogo > div:nth-child(8)  {    -webkit-animation-delay: -0.8s;   animation-delay: -0.8s;     }
.AnimarLogo > div:nth-child(9)  {    -webkit-animation-delay: -0.9s;   animation-delay: -0.9s;     }
.AnimarLogo > div:nth-child(10) {    -webkit-animation-delay: -1.0s;   animation-delay: -1.0s;     }
.AnimarLogo > div:nth-child(11) {    -webkit-animation-delay: -1.1s;   animation-delay: -1.1s;     color:#EA504E;     }
.AnimarLogo > div:nth-child(12) {    -webkit-animation-delay: -1.2s;   animation-delay: -1.2s;     color:#EA504E;     }


.AnimarLogo > div {
    animation: AnimacionLogo 2s infinite ease-in-out;
}

.AnimarLogo {
    bottom:calc(50% - 15px) !important; 
    left:calc(50% - 120px) !important; 
    transform:rotateZ(0deg) !important;
    font-size:24px !important;

    height:30px;
    width:240px;
}


/* Ojo, al cambiar la estructuración del HTML */
.AnimarLogo + #MarcoNavegacion {
    opacity:0.025 !important;
}

.AnimarLogo + #MarcoNavegacion::after {
    content:'';
    position:absolute;
    top:0px; left:90px; right:0px; bottom:0px;
    z-index:1000;
}



@keyframes AnimacionLogo {
    0%   { padding-left:10px; }
    50%  { padding-left:0px; }
    100% { padding-left:10px; }
}


#Logo {
    font-family: 'Orbitron', sans-serif;
    font-size:1.6rem;
    position:fixed;
    white-space:nowrap;
    bottom:100px;
    left:-42px;
    transform: rotateZ(-90deg);
    color:#FFFFFF;
    transition:0.4s cubic-bezier(.17,-0.42,.63,1.24);
    z-index:1000;
    display:inline-block;    
    -webkit-user-select:none;  /* Chrome / Safari / Opera */
    -moz-user-select:none;     /* Firefox */
    -ms-user-select:none;      /* IE 10+ */
    user-select:none;          /* No es estandar.. */
    cursor:default;
}

/* Si el usuario es administrador escondo el logo  hacia la izquierda */
body[administrador33] #Logo {
    left:-100px;
}

/* Cada letra del logo */
#Logo > div {
    position:relative;
    display:inline-block;
    padding-left:0px;
}

/* el 33 en rojo */
#Logo > div:nth-child(11), #Logo > div:nth-child(12) {  color:#EA504E;  }


