/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2015, 17:53:46
    Author     : devildrey33
*/


/* Escondo el logo si la altura es menor que 670 pixeles y solo lo muestro durante la animaciÃ³n de carga */
@media only screen and (max-height: 550px) {
    #Logo           {    left:-200px;     }
    .AnimacionLogo  {    display:block;   }
}


/* Vista vertical (portrait) para la gran mayoria de moviles Y tablets  */                             
@media  only screen and (orientation:portrait) and (min-resolution: 1.2dppx), 
        only screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-moz-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-o-min-device-pixel-ratio: 13/10),
        only screen and (orientation:portrait) and (min-resolution: 120dpi) {            
    h2, .Blog > h3,                                                 /* Tituls */
    .nota, .postit, nota, postit,                                   /* Marcs nota/postit */
    .BarraNavegacion_SubIndice, .Sintaxis,                          /* Marc del sub-index, i marc de la sintaxis  */
    #Logo, #BarraPrincipal, #BarraNavegacion,                       /* Barres laterals  */
    #Categorias, #Categorias_Estado + #Categorias_Label,            /* Marco categorias y label para expandir / contraer las categorias */
    #Cabecera, #Comentarios_MarcoDatos,                             /* Cabecera del blog, marco unicamente con los comentarios posteados */
    #Comentarios_Comentario, .devildrey33_Marco,                    /* Marco con los controles de los comentarios */
    .Codigo_Marco, .Tabla                                           /* Marco con código de ejemplo, Tabla con varias columnas y filas de datos*/
    
                        { zoom:1.5 !important; }
    body                { margin-left:90px; }  
    #MarcoNavegacion    { left:-10px;}
    .Blog               { margin: 0px 100px 0px 30px !important; }    
    #MarcoNavegacionLab { margin: 0px 100px 0px 15px !important; }
}

/* En l'index si es un movil en portrait no hi ha ample suficient per posar el titul i els spans informatius, OJU perque nomes ha de ser en movils, en tables NO */
/* El movil amb resolució mes ample que he vist es el iphone 6p(atata) amb 414px */
@media  only screen and (max-device-width:420px) and (orientation:portrait) {
    body { font-size:1.1rem !important; }
    .Articulo_Portada > div, #Comentarios_BarraControles { display:none !important; }
    /* arreglo per les fonts dels tituls de l'index '*/
    .Articulo_Portada > h1 { font-size:1vw !important; z-index:0; }
    /* arreglo que fa que les imatges isguin 100% opaques per que si el texte trepitja l'imatge que no es vegi (el texte) */
    .Articulo_Portada > a > .Articulo_Portada_Imagen { opacity:1 !important; }
    .VentanaMensaje { zoom:1.8; font-size:1.5rem; }
/*    .VentanaMensaje::before {  }*/
}

/* En l'index si l'ample de la pantalla fa mes de 1700 px creo una segona columna per mostrar les entrades '*/
@media only screen and (min-width: 1500px) and (orientation: landscape) {
    /* Articles amb el 50% d'ample (menys 300 pixels de padding) */
    #MarcoIndice > .Articulo_Portada {
        display: inline-block;
        width: calc(50% - 301px);
    }    
    /* Faig la font del titul un pel mes petita */
    .Articulo_Portada > h1 {
        font-size: 2rem;
    }    
}