/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2015, 17:53:46
    Author     : devildrey33
*/


/* Escondo el logo si la altura es menor que 670 pixeles y solo lo muestro durante la animación de carga */
@media only screen and (max-height: 550px) {
    #Logo           {    left:-200px;     }
    .AnimacionLogo  {    display:block;   }
}


/* Vista vertical (portrait) para la gran mayoria de moviles Y tablets  */                             
@media  only screen and (orientation:portrait) and (min-resolution: 1.2dppx), 
        only screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-moz-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-o-min-device-pixel-ratio: 13/10),
        only screen and (orientation:portrait) and (min-resolution: 120dpi) {            
    h2, .Blog > h3, 
    .nota, .postit, nota, postit, 
    .BarraNavegacion_SubIndice, .Sintaxis,
    #Logo, #BarraPrincipal, #BarraNavegacion, 
    #Categorias, .Cabecera, #Comentarios_MarcoDatos, 
    #Comentarios_Comentario, .devildrey33_Marco, .Codigo_Marco  
                        { zoom:1.5 !important; }
    body                { margin-left:90px; }  
    #MarcoNavegacion    { left:-10px;}
    .Blog               { margin: 0px 100px 0px 30px !important; }    
    #MarcoNavegacionLab { margin: 0px 100px 0px 15px !important; }
}

/* En l'index si es un movil en portrait no hi ha ample suficient per posar el titul i els spans informatius, OJU perque nomes ha de ser en movils, en tables NO */
/* El movil amb resolució mes ample que he vist es el iphone 6p(atata) amb 414px */
@media  only screen and (max-device-width:420px) and (orientation:portrait) {
    body { font-size:1.1rem !important; }
    .Articulo_Portada > span, #Comentarios_BarraControles { display:none !important; }
}