/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-ago-2015, 17:53:46
    Author     : devildrey33
*/


/* Escondo el logo si la altura es menor que 670 pixeles y solo lo muestro durante la animaciÃ³n de carga */
@media only screen and (max-height: 550px) {
    #Logo           {    left:-200px;     }
    .AnimacionLogo  {    display:block;   }
}


/* Vista vertical (portrait) para la gran mayoria de moviles Y tablets  */                             
@media  only screen and (orientation:portrait) and (min-resolution: 1.2dppx), 
        only screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-moz-min-device-pixel-ratio: 1.2), 
        only screen and (orientation:portrait) and (-o-min-device-pixel-ratio: 13/10),
        only screen and (orientation:portrait) and (min-resolution: 120dpi) {            
    body                { /*margin-left:90px; */ font-size:2rem !important; }  
    #MarcoNavegacion    { left:-10px;}
    .Blog               { margin: 0px 55px 0px 30px !important; }    
    #MarcoNavegacionLab { margin: 0px 55px 0px 15px !important; }
    .FechaEntrada       { font-size:16px;                       }

    /* Muestro la nota como un bloque, (los display table lo flipan con tamaños moviles) */
    .nota, .postit {
        display:block !important;
    }
    /* Oculto el texto nota de la izquierda */
    .nota::before, nota::before {
        display:none !important;
    }

    pre, code, kbd, samp, tt {
        font-family : Inconsolata, monospace;
        font-size   : 2rem !important;
      }
      
}

/* En l'index si es un movil en portrait no hi ha ample suficient per posar el titul i els spans informatius, OJU perque nomes ha de ser en movils, en tables NO */
/* El movil amb resolució mes ample que he vist es el iphone 6p(atata) amb 414px */
@media  only screen and (max-device-width:420px) and (orientation:portrait) {
    /* escondo los controles de los comentarios */
    .Articulo_Portada > div, #Comentarios_BarraControles { display:none !important; }
    /* arreglo que fa que les imatges isguin 100% opaques per que si el texte trepitja l'imatge que no es vegi (el texte) */
    .Articulo_Portada > a > .Articulo_Portada_Imagen { opacity:1 !important; }
    /* *Escondo todos los tooltips */
    html[lang='es'] *[tooltip-es]::after, html[lang='en'] *[tooltip-en]::after { display:none !important; }
    
}

/* En l'index si l'ample de la pantalla fa mes de 1440 px creo una segona columna per mostrar les entrades '*/
@media only screen and (min-width: 1440px) and (orientation: landscape) {
    /* Articles amb el 50% d'ample (menys 300 pixels de padding) */
    #MarcoIndice > .Articulo_Portada {
        display: inline-block;
        width: calc(50% - 302px);
    }    
    /* Faig la font del titul un pel mes petita */
    .Articulo_Portada > h1 {
        font-size: 1.2vw;
    }    
}