/* Declaraciones CSS para el objeto devildrey33_PintarCodigo
    Creado por Josep Antoni Bover Comas para devildrey33.es el 09/10/2011
    Ultima modificación : 06/02/2016    */

/* Marco con el título, númeración de las líneas, y el código*/
.Codigo_Marco {
    outline:1px solid transparent;
    border-left:4px solid rgb(184,80,78);
    display:inline-block;
    position:relative;
    max-width:100%;
    overflow-x:auto;
    clear:both;
    margin-top:10px;
    transition:0.4s;
    border-radius:0px 4px 8px 0px;
}
.Codigo_Marco:hover {
    outline:1px solid #999;
}
/* Marco para el titulo */
.Codigo_Titulo {
    position:relative;
    display:table-caption;
    background:#f7f7f7;
    padding:10px 10px 10px 25px;
    font-weight:bold;
    font-size:1.5rem;
}
/* Si el titulo está visible añado 2 pixeles de borde por la parte superior */
.Codigo_Titulo + .Codigo_Numeracion + .Codigo_PRECodigo {
    border-top:2px solid rgb(240,240,240);
}
/* Marco del código */
.Codigo_PRECodigo {
    background:#FFFFFF;
    position:relative;
    padding:10px;
    display:table-cell;
    border-left:2px solid rgb(240,240,240);
    border-bottom:1px solid rgb(240,240,240);
/*    font-family:monospace;
    font-size:1.6rem;*/
    font-family:Inconsolata, monospace;
    font-size:1.4rem !important;
    line-height: 15px;
}
/* Numeración del código */
.Codigo_Numeracion {
    line-height: 15px;
    display:table-cell;
    position:relative;
    text-align:right;
    padding: 10px;
    background:#f7f7f7;
    font-family:Inconsolata, monospace;
    font-size:1.4rem !important;
}

.Codigo_Numeracion > div, .Codigo_PRECodigo > div[l] {
    height:15px;  /* Tamaño de cada línea */
}
/* Colores para los codigos */
.TxtNegro 	{color:#000000;min-height:  15px;}
.TxtVerde 	{	color:#006600;			}
.TxtVerdeClaro 	{	color:rgb(0, 153, 153);		}
.TxtAzul 	{	color:#0000FF;			}
.TxtAzulClaro 	{	color:rgb(102, 129, 255);	}
.TxtAzulOscuro 	{	color:#009;			}
.TxtLila 	{	color:rgb(153, 0, 153);		}
.TxtRosa 	{	color:rgb(255, 58, 255);	}
.TxtRojo 	{	color:#CC0000;			}
.TxtAmarillo 	{	color:rgb(206, 123, 0);		}
.TxtGris 	{	color:rgb(128, 128, 128);	}
.TxtGrisClaro 	{	color:rgb(98, 143, 181);	}
.TxtMarron 	{	color:rgb(109, 50, 6);		}
.TxtNegrita 	{	font-weight:bold;		}
/* Etiqueta linea para resaltar una línea de un ejemplo */
linea { 
    display:inline;    
    cursor:pointer;
    color:rgb(184,80,78);
    text-shadow: 0px 0px 1px rgba(0, 128, 0, 0.6);
}
linea:hover {
    text-decoration:underline;   
}
/* Las etiquetas <a> se pueden utilizar para resaltar código en el hover */
a[cid][l]{    
    transition:0.4s;  
}
a[cid][l]:hover {
    color:rgb(184,80,78);
    text-shadow: 0px 0px 1px rgba(0, 128, 0, 0.6);
}
/* Línea de código normal */
.Codigo_PRECodigo > div[l] {
    transition:0.4s;
    background-color:rgb(255,255,255);
}
/* Línea de código al hacer click en una etiqueta <linea> */
.Codigo_PRECodigo > div[l][click] {
    background-color:rgba(184,80,78, 0.5) !important;
}
/* Línea de código cuando se hace hover en una etiqueta <linea> o <a cid='' l=''> */
.Codigo_PRECodigo > div[l][hover] {
    font-weight:900;
    background-color:rgba(184,80,78, 0.25);
}



.PintarCodigo_TablaDebug {
    font-family:Inconsolata, monospace;
    font-size:1.2rem !important;
    border:1px solid #000;
}

.PintarCodigo_TablaDebug tr:not(:last-child) > td { border-bottom:1px solid #666; }
.PintarCodigo_TablaDebug td:not(:last-child) { border-right:1px solid #666; }

.PintarCodigo_TablaDebug td:nth-child(1) { width:60px; }
.PintarCodigo_TablaDebug td:nth-child(2) { width:200px; }
