
/*****************/
/* Pintar código */
/*****************/
.Codigo_Marco {
    outline:1px solid transparent;
    border-left:4px solid green;
    display:inline-block;
/*    background:#353338;*/
    position:relative;
    max-width:100%;
    overflow-x:auto;
    clear:both;
    margin-top:10px;
    transition:0.4s;
    border-radius:0px 4px 8px 0px;
/*    border-bottom:1px solid rgb(225, 225, 225);
    border-right:1px solid rgb(215, 215, 215);
    border-top:1px solid rgb(205, 205, 205);*/
/*    border:2px solid #353338;
    border-bottom:1px solid #353338;*/
}

.Codigo_Marco:hover {
    outline:1px solid #999;
}

.Codigo_Titulo {
    position:relative;
    display:table-caption;
/*    background:rgb(230, 230, 230);*/
    background:#f7f7f7;
    padding:10px 10px 10px 25px;
    font-weight:bold;
    font-size:1.5rem;
}
/* Si el titulo está visible añado 2 pixeles de borde por la parte superior */
.Codigo_Titulo  + .Codigo_Numeracion + .Codigo_PRECodigo {
    border-top:2px solid rgb(240,240,240);
}
.Codigo_PRECodigo {
    background:#FFFFFF;
    position:relative;
    padding:10px;
    display:table-cell;
    border-left:2px solid rgb(240,240,240);
    border-bottom:1px solid rgb(240,240,240);
    font-family:monospace;
    font-size:13px;
}

.Codigo_Numeracion {
    display:table-cell;
    position:relative;
    text-align:right;
    padding:0px 6px;
/*    background:rgb(230, 230, 230);*/
    background:#f7f7f7;
    font-family:monospace;
    font-size:13px;
}

/* Colores para los codigos */
.TxtNegro 	{	color:#000000;			}
.TxtVerde 	{	color:#006600;			}
.TxtVerdeClaro 	{	color:rgb(0, 153, 153);		}
.TxtAzul 	{	color:#0000FF;			}
.TxtAzulClaro 	{	color:rgb(102, 129, 255);	}
.TxtAzulOscuro 	{	color:#009;			}
.TxtLila 	{	color:rgb(153, 0, 153);		}
.TxtRosa 	{	color:rgb(255, 58, 255);	}
.TxtRojo 	{	color:#CC0000;			}
.TxtAmarillo 	{	color:rgb(206, 123, 0);		}
.TxtGris 	{	color:rgb(128, 128, 128);	}
.TxtGrisClaro 	{	color:rgb(98, 143, 181);	}
.TxtMarron 	{	color:rgb(109, 50, 6);		}
.TxtNegrita 	{	font-weight:bold;		}



/* Etiqueta linea para resaltar una línea de un ejemplo */
linea { 
    display:inline;    
    cursor:pointer;
    color:green;
    text-shadow: 0px 0px 1px rgba(0, 128, 0, 0.6);
}

linea:hover {
    text-decoration:underline;   
}

.Codigo_PRECodigo > div[l] {
    transition:0.4s;
    background-color:rgb(255,255,255);
    min-height:14px;
}

.Codigo_PRECodigo > div[l][click] {
    background-color:rgb(170, 225, 170) !important;
}

.Codigo_PRECodigo > div[l][hover] {
    font-weight:900;
    background-color:rgb(215, 240, 205);
}