/* Archivo que contiene reglas para tablas y marcos.
    Clase .Tabla diseñada para contener hasta 2 tablas dentro de ella. (la tabla hijo tiene la mitad de margen izquierdo que la tabla padre, y la la tabla nieto tiene la mitad de margen izquierdo que la tabla hijo)
    Tambien contiene otros marcos como .Sintaxis (sintaxis de documentación), nota / postit (marcos tipo post-it)
/* 
    Created on : 23-dic-2015, 4:12:30
    Author     : devildrey33
*/



/* Tabla rectangular vintage (de la época del netscape) */
/*
.Tabla .Tabla {
    border:1px solid rgb(150, 150, 150);
}

.Tabla {
    border:2px solid #BBB;
    border-spacing: 0px;
    border-collapse: separate;
    background: #FFFFFF;
}

.Tabla td {
    padding:3px 10px;
    border-bottom:1px solid #AAA;
    border-right:1px solid #AAA;
}

.Tabla td:last-child {
    border-right:none !important;
}

.Tabla tr:last-child td {
    border-bottom:none !important;
}


.Tabla th {
    background: rgb(100,100,100);
    color:#FFFFFF;
    border-right:none;
    padding:4px;
}
.Tabla pre {
    margin:0px;
} */


/*********************/
/* tabla por defecto */
/*********************/

.Tabla {
    border:1px solid rgb(240,240,240);
    border-left:6px solid #666;
    border-spacing: 0px;
    border-collapse: separate;
    background: #FFFFFF;
    margin-top:10px;    
    transition:0.4s;
    border-radius:4px 4px 8px 4px;
}

.Tabla:hover {
    border:1px solid #666;
    border-left:6px solid #666;
}

/* Tablas dentro de tablas tienen el borde mas pequeño y claro */
.Tabla .Tabla {
    border:1px solid #FFFFFF;
    border-left:4px solid #888;
}

.Tabla .Tabla:hover {
    border:1px solid #888;
    border-left:4px solid #888;
}

/* Tabla dentro de Tabla dentro de Tabla */
.Tabla .Tabla .Tabla {
    border:1px solid #FFFFFF;
    border-left:3px solid #AAA;
}

.Tabla .Tabla .Tabla:hover {
    border:1px solid #AAA;
    border-left:3px solid #AAA;
}

.Tabla img {
    border:2px solid rgb(240,240,240);
}

.Tabla th {  padding:10px; }
.Tabla td {  padding:5px; }

.Tabla td, .Tabla th {    
    border-bottom:4px solid rgb(240,240,240);
    border-right:4px solid rgb(240,240,240);
}
/*
.Tabla:hover td, .Tabla:hover th {
    border-bottom:4px solid #CCC;
    border-right:4px solid #CCC;    
}*/
/* Cabeceras tabla */
.Tabla th {
    background:#f7f7f7;
}
/* Las ultimas celdas de la izquierda, no tienen borde izquierdo */
.Tabla td:last-child, .Tabla th:last-child {
    border-right:none !important;
}
/* La ultima celda de la cabecera tiene el borde superior izquierdo redondeado acorde a la tabla */
.Tabla th:last-child {
    border-radius:0px 4px 0px 0px;    
}

.Tabla tr:last-child td  {
    border-bottom:none !important;
}


.Tabla pre {
    margin:0px;
}












/************************************/
/* marcos para la Documentación CSS */
/************************************/

/* Marco <pre> para la sintáxis de la documentación CSS */
.Sintaxis {
    border:1px solid transparent;
    border-left:6px solid brown;
    padding:10px;
    background:#FFFFFF;
    font-size:1.5rem;
    transition:0.4s;
    border-radius:4px;
    display:table;
}

.Sintaxis:hover {
    border:1px solid brown;    
    border-left:6px solid brown;
}

.Sintaxis > code {
    font-size:1.5rem;
}

/* Tablas especiales para los indices de la documentación CSS */
.TablaDocCSS {
    table-layout:fixed;
    width:100%;    
    margin-top:3px;
} 
/* Imagenes que corresponden a la compatibilidad de navegadores a 18x18 */
.TablaDocCSS img {
    border:none !important;
    width:18px;
    height:18px;
    position:relative;
    top:2px;
}
.TablaDocCSS th {
    text-align: left;
}
.TablaDocCSS td {
    white-space: nowrap;
    padding:0px 3px ;
    border-right:none;
}

.TablaDocCSS th:nth-child(1), .TablaDocCSS td:nth-child(1) {
    width:200px;
}
.TablaDocCSS th:nth-child(2), .TablaDocCSS td:nth-child(2) {
    overflow:hidden;
    text-overflow:ellipsis;
}
.TablaDocCSS th:nth-child(3), .TablaDocCSS td:nth-child(3) {
    width:110px;
}
.TablaDocCSS th:nth-child(4), .TablaDocCSS td:nth-child(4) {
    width:25px;
    text-align:center;
}








/*****************/
/* postit / nota */
/*****************/
/* La diferencia entre la nota y el postit, es que la nota muestra el texto 'NOTA :' */
.nota, nota, postit, .postit {
    border:1px solid transparent;
    border-left:6px solid orange;
    background-color:rgb(249, 249, 222);
    display:table;
    margin:10px 0px;
    padding:10px;
    transition:0.4s;
    border-radius:4px;
}
.nota:hover, nota:hover, postit:hover, .postit:hover {
    border:1px solid orange;
    border-left:6px solid orange;
}
html[lang='es'] nota::before, html[lang='es'] .nota::before {
    content:"NOTA :";
}
html[lang='en'] nota::before, html[lang='en'] .nota::before  {
    content:"NOTE :";
}
.nota::before, nota::before {
    display:table-cell;
    position:relative;
    font-weight:bold;
    white-space:nowrap;
    padding-right:5px;
}