/* Archivo que contiene reglas para tablas y marcos.
    Clase .Tabla diseñada para contener hasta 2 tablas dentro de ella. (la tabla hijo tiene la mitad de margen izquierdo que la tabla padre, y la la tabla nieto tiene la mitad de margen izquierdo que la tabla hijo)
    Tambien contiene otros marcos como .Sintaxis (sintaxis de documentación), nota / postit (marcos tipo post-it)
 
    Created on : 23-dic-2015, 4:12:30
    Author     : devildrey33
*/


/*********************/
/* tabla por defecto */
/*********************/

.Tabla {
    outline:1px solid rgb(240,240,240);
    border-left:4px solid #666;
    border-spacing:2px;
    border-collapse:separate;
/*    background:#FFFFFF;*/
    margin-top:10px;    
    display:table;
    transition:0.4s;
}


.Tabla:hover {
    outline:1px solid #999;
    background:#f7f7f7;
}

/* Tablas dentro de tablas tienen el borde mas pequeño y claro */
.Tabla .Tabla {
/*    border:1px solid #FFFFFF;*/
    border-left:4px solid #888;
}

/*.Tabla .Tabla:hover {
    outline:1px solid #999;
}*/

/* Tabla dentro de Tabla dentro de Tabla */
.Tabla .Tabla .Tabla {
    border-left:4px solid #AAA;
}

/*.Tabla .Tabla .Tabla:hover {
    outline:1px solid #999;
}*/

.Tabla tr td {
    transition:0.4s;
    background:rgb(240,240,240);
}

.Tabla tr:hover td {
    background:rgb(230,230,230);
/*    border-right:4px solid rgb(220,220,220);*/
}

.Tabla img {
    border:2px solid rgb(240,240,240);
}

.Tabla th {  padding:10px; background : #f7f7f7}
.Tabla td {  padding:5px; }

/*.Tabla td {    
    border-bottom:4px solid rgb(240,240,240);
    border-right:4px solid rgb(240,240,240);
}*/
/*.Tabla:hover, .Tabla:hover th {
    background:#f7f7f7;
}*/
/*
.Tabla:hover td, .Tabla:hover th {
    border-bottom:4px solid #CCC;
    border-right:4px solid #CCC;    
}*/
/* Las ultimas celdas de la izquierda, no tienen borde izquierdo */
.Tabla td:last-child, .Tabla th:last-child {
    border-right:none !important;
}
/* La ultima celda de la cabecera tiene el borde superior izquierdo redondeado acorde a la tabla */
.Tabla th:last-child {
    border-radius:0px 4px 0px 0px;    
}

.Tabla tr:last-child td  {
    border-bottom:none !important;
}


.Tabla pre {
    margin:0px;
}












/************************************/
/* marcos para la Documentación CSS */
/************************************/

/* Marco <pre> para la sintaxis de la documentación CSS */
.Sintaxis {
    outline:1px solid transparent;
    border-left:4px solid brown;
    padding:10px;
    background:#FFFFFF;
    font-size:1.5rem;
    transition:0.4s;
/*    border-radius:4px;*/
    display:table;
}

.Sintaxis:hover {
    outline:1px solid brown;    
}

.Sintaxis > code {
    font-size:1.5rem;
}

/* Tablas especiales para los indices de la documentación CSS */
.TablaDocCSS {
    table-layout:fixed;
    width:100%;    
    margin-top:3px;
} 
/* Imagenes que corresponden a la compatibilidad de navegadores a 18x18 */
.TablaDocCSS img {
    border:none !important;
    width:18px;
    height:18px;
    position:relative;
    top:2px;
}
.TablaDocCSS th {
    text-align: left;
}
.TablaDocCSS td {
    white-space: nowrap;
    padding:0px 3px ;
    border-right:none;
}

.TablaDocCSS th:nth-child(1), .TablaDocCSS td:nth-child(1) {
    width:200px;
}
.TablaDocCSS th:nth-child(2), .TablaDocCSS td:nth-child(2) {
    overflow:hidden;
    text-overflow:ellipsis;
}
.TablaDocCSS th:nth-child(3), .TablaDocCSS td:nth-child(3) {
    width:110px;
}
.TablaDocCSS th:nth-child(4), .TablaDocCSS td:nth-child(4) {
    width:25px;
    text-align:center;
}








/*****************/
/* postit / nota */
/*****************/
/* La diferencia entre la nota y el postit, es que la nota muestra el texto 'NOTA :' */
.nota, nota, postit, .postit {
    outline:1px solid transparent;
    border-left:4px solid orange;
    background-color:rgb(249, 249, 222);
    display:table;
    margin:10px 0px;
    padding:10px;
    transition:0.4s;
/*    border-radius:4px;*/
}
.nota:hover, nota:hover, postit:hover, .postit:hover {
    outline:1px solid orange;
/*    border-left:6px solid orange;*/
}
html[lang='es'] nota::before, html[lang='es'] .nota::before {
    content:"NOTA :";
}
html[lang='en'] nota::before, html[lang='en'] .nota::before  {
    content:"NOTE :";
}
.nota::before, nota::before {
    display:table-cell;
    position:relative;
    font-weight:bold;
    white-space:nowrap;
    padding-right:5px;
}

/* Nota pequeña en fondo blanco con una fuente de tamaño inferior, color de texto gris, y entre parentesis */
.notamental, notamental {
    display:table;
    font-size:1.2rem; 
    color:#444;
    background:#FFF;
}
html[lang='es'] notamental::before, html[lang='es'] .notamental::before {
    content:"(Nota mental :";
}
html[lang='en'] notamental::before, html[lang='en'] .notamental::before  {
    content:"(Mental note :";
}

notamental::after, .notamental::after { content:")";}
.notamental::before, notamental::before, .notamental::after, notamental::after {
    display:table-cell;
    position:relative;
    font-weight:bold;
    white-space:nowrap;
    padding-right:5px;
}
