/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-feb-2016, 1:37:59
    Author     : devildrey33
*/


/* Tooltips multiidioma */
html[lang='es'] *[tooltip-es]::after, html[lang='en'] *[tooltip-en]::after {
    position:absolute;    
    display:block;
    background:rgb(234, 80, 78);
    border:1px solid red;        
    border-left:4px solid red;
    color:#FFF;
    text-shadow:1px 1px 1px #000;
    padding:10px;
    font-size:1em;
    opacity:0;
    width:0px;
    transition:.4s cubic-bezier(.17,-0.42,0,1.35);
    content:'';
    transform:perspective(600px) rotateX(-90deg);
    transform-origin:center top;
    text-align:center;
    z-index:1;
    overflow:hidden;
}

[tooltip-pos='R']::after { top:8px; right:66px; } /* Desde la derecha '*/
[tooltip-pos='L']::after { top:10px; left:70px;  } /* Desde la izquierda */

/* Los tooltips que salen desde arriba o desde abajo necesitan ser reposicionados manualmente por el eje X para que queden alineados a la barra lateral */
[tooltip-pos='T']::after { top:-52px; right:0px;  } /* Desde arriba */
[tooltip-pos='B']::after { top:70px; right:0px;  } /* Desde abajo */
/* Botones para las vistas del lab */
#Lab_VerCodigo_Estado   + [tooltip-pos='B']::after     { right:-60px;  }
#Lab_VerColumnas_Estado + [tooltip-pos='B']::after     { right:-120px; }
#Lab_VerFilas_Estado    + [tooltip-pos='B']::after     { right:-180px; }
/* Botones de las redes sociales */
/*#BarraNavegacion_MarcoRedesSociales_GooglePlus::after  { right:-8px;  }*/
#BarraNavegacion_MarcoRedesSociales_Twitter::after     { right:-60px;  }
#BarraNavegacion_MarcoRedesSociales_Facebook::after    { right:-120px; }
/* Botones para las vistas del mini lab */
.MiniLab > .Menu:nth-child(6) > label[tooltip-pos='B']::after { right:-60px; }
.MiniLab > .Menu:nth-child(7) > label[tooltip-pos='B']::after { right:-120px; }



/* Asigno el contenido del idioma segun el atributo lang del HTML */
html[lang='es'] *[tooltip-es]::after { content:attr(tooltip-es); }
html[lang='en'] *[tooltip-en]::after { content:attr(tooltip-en); }

/* Muestro el tooltip para los botones de la vista del lab */
html[lang='es'] #BarraNavegacion_LabMarcoVer > .Menu_Boton_Label[tooltip-es]:hover::after, html[lang='en'] #BarraNavegacion_LabMarcoVer > .Menu_Boton_Label[tooltip-en]:hover::after, 
/* Muestro el tooltip para los botones de la vista del mini lab */
html[lang='es'] .MiniLab .Menu_Boton_Label[tooltip-es]:hover::after,  html[lang='es'] .MiniLab .Menu_Boton_Label[tooltip-en]:hover::after,
/* Muestro el tooltip para los botones que contienen un sub-menu, y no están marcados */
html[lang='es'] .Menu_Boton_Input:not(:checked) + .Menu_Boton_Label[tooltip-es]:hover::after, html[lang='en'] .Menu_Boton_Input:not(:checked) + .Menu_Boton_Label[tooltip-en]:hover::after,
/* Muestro el tooltip para las clases Menu_Boton sin marcos desplegables */
html[lang='es'] .Menu_Boton[tooltip-es]:hover::after, html[lang='en'] .Menu_Boton[tooltip-en]:hover::after {    
    transform:perspective(600px) rotateX(0deg);
    opacity:1;
    width:224px;
}

/* FIX para el boton HOME, y para los botones de la vista del lab */
/* En realidad el fix es porque algunos svg sobresalen del boton, y dan falsos mouse hover fuera dfel boton, por lo que necesito el overflow hidden */
/* El problema es que el Boton HOME tiene él mismo el tooltip, y los botones de la lista del lab muestran el tooltip debajo. */
/*#BarraNavegacion_LabMarcoVer > .Menu_Boton, 
BarraNavegacion_MarcoRedesSociales > .Menu_Boton, 
#BarraNavegacion_Cerrar, 
#BarraNavegacion_LabGuardar, 
#BarraNavegacion_LabGuardarCache  {
    overflow:visible !important;
}*/
